{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'Verify Your Email' %}
{% endblock %}

{% block content %}
<table cellpadding="10" cellspacing="0" style="width: 100%;">
    <tr>
        <th style="width: 100%;text-align: left;">
            <h2 style="font-weight: bold;">
                {% trans 'Verify Your Email Now' %}
            </h2>
        </th>
    </tr>
    <tr>
        <td style="width: 100%;">
            <p>{% blocktrans %}Dear {{ fullname }},{% endblocktrans %}</p>
            <p>{% blocktrans %}Your account has been created. Please verify your email by clicking this
                <a href="{{ fullurl }}" target="_blank" rel="noopener noreferrer">link</a> in order to fully
                manage
                your donations and account.{% endblocktrans %}</p>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ request|site_name }}</p>
{% endblock %}