{% extends "base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{% trans 'Change My Password' %}{% endblock %}

{% block body_class %}newstream-change-password{% endblock %}

{% block content %}
<div class="container grid grid-cols-1 gap-4 lg:grid-cols-3">
    {% include 'profile_settings/sidebar.html' %}
    <div class="settings-div w-full flex flex-col lg:col-span-2">
        <h1 class="mb-5">{% trans 'Change my password' %}</h1>
        {% include 'common/form_errors.html' %}
        <form method='POST'>
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="mb-4">
                <div class="label-div">{{ field.label_tag }}</div>
                <div class="field-div widget_{{ field|widget_type }}">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <button class="ns-wide-btn right-arrow-btn" type="submit">{% trans 'Submit' %}<span
                    class="icon"></span></button>
        </form>
    </div>
</div>
{% endblock content %}