{% extends "base_email.html" %}
{% load common_tags i18n account %}
{% user_display user as user_display %}

{% block title %}
{% trans 'Please Confirm Your E-mail Address' %}
{% endblock %}

{% block content %}
{% autoescape off %}
<h2 style="font-family:Arial,Helvetica;font-size:32px;font-weight:bold;margin:0;Margin-bottom:25px">{% trans 'Please Confirm Your E-mail Address' %}</h2>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans with site_name=current_site.name %}Hello from {{ site_name }}!{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans %}You're receiving this e-mail because user {{ user_display }} has given yours as an e-mail address to connect their account.{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:25px">{% blocktrans %}To confirm this is correct, go to {{ activate_url }}.{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans with site_name=current_site.name %}Thank you from {{ site_name }}!{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans with site_domain=current_site.domain %}{{ site_domain }}{% endblocktrans %}</p>
{% endautoescape %}
{% endblock %}