{% extends "base_email.html" %}
{% load common_tags i18n account %}
{% user_display user as user_display %}

{% block title %}
{% trans 'Password Reset E-mail' %}
{% endblock %}

{% block content %}
{% autoescape off %}
<h2 style="{{ 'heading'|email_css }}">{% trans 'Password Reset E-mail' %}</h2>

<p style="{{ 'parag'|email_css }}">{% blocktrans with site_name=current_site.name %}Hello from {{ site_name }}!{% endblocktrans %}</p>

<p style="{{ 'parag'|email_css }}">{% blocktrans %}You're receiving this e-mail because you or someone else has requested a password for your user account.{% endblocktrans %}</p>

<p style="{{ 'parag'|email_css }}">{% blocktrans %}It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}</p>

<p style="{{ 'last-parag'|email_css }}">{% blocktrans %}{{ password_reset_url }}{% endblocktrans %}</p>

<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ current_site.name }}</p>
{% endautoescape %}
{% endblock %}