{% extends "base_email.html" %}
{% load common_tags i18n account %}
{% user_display user as user_display %}

{% block title %}
{% trans 'Password Reset E-mail' %}
{% endblock %}

{% block content %}
{% autoescape off %}
<h2 style="font-family:Arial,Helvetica;font-size:22px;font-weight:bold;margin:0;Margin-bottom:25px">{% trans 'Password Reset E-mail' %}</h2>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans with site_name=current_site.name %}Hello from {{ site_name }}!{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans %}You're receiving this e-mail because you or someone else has requested a password for your user account.{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans %}It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:25px">{% blocktrans %}{{ password_reset_url }}{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{% blocktrans with site_name=current_site.name %}Thank you for using {{ site_name }}!{% endblocktrans %}</p>

<p style="font-family:Arial,Helvetica;font-size:16px;font-weight:normal;margin:0;Margin-bottom:15px">{{ current_site.name }}</p>
{% endautoescape %}
{% endblock %}