{% load static wagtailuserbar common_tags wagtailimages_tags %}
{% image request|site_icon max-32x32 as site_icon %}

<!DOCTYPE html>
<html class="no-js" lang="{{ request.LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site_icon.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site_icon.url }}">

    {# preload key requests #}
    <link rel="preload" href="/static/css/ttf/Barlow-SemiBold.ttf" type="font/ttf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/static/css/ttf/Barlow-Regular.ttf" type="font/ttf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/static/css/ttf/FiraSans-SemiBold.ttf" type="font/ttf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/static/css/ttf/FiraSans-Regular.ttf" type="font/ttf" as="font" crossorigin="anonymous">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_1_6.css' %}">

    {% block extra_head %}
    {# Override this in templates to add extra stuff in the head #}
    {% endblock %}

    <script>
        function toggleSidenav() {
            document.body.classList.toggle('sidenav-active');
            document.body.classList.toggle('noscroll');
        }
    </script>
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="cover" onclick="toggleSidenav();"></div>

    {% wagtailuserbar %}

    {% include "header.html" %}

    <div id="base-content-wrapper">
        {% block content %}{% endblock %}
    </div>

    {% include "footer.html" %}

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>