{% extends "modeladmin/index.html" %}
{% block title %}Download data{% endblock %}

{% block content %}
<h1>Download data</h1>
<div class="p-2">
    <a href="{% url 'export-donation-data' %}" class="button block">
        Donation
    </a>
</div>
<div class="p-2">
    <a href="{% url 'export-subscription-data' %}" class="button block">
        Subscription
    </a>
</div>
<div class="p-2">
    <a href="{% url 'export-donor-data' %}" class="button block">
        Donors
    </a>
</div>
{% endblock %}
