{% load common_tags wagtailimages_tags %}
{% image request|brand_logo max-80x80 as brand_logo %}

<div class='newstream-footer'>
    <a href="{{ request|domain }}" class="brand-logo-link">
        <img src="{{ brand_logo.url }}" alt="{{ brand_logo.alt }}" width="{{ brand_logo.width }}"
            height="{{ brand_logo.height }}">
    </a>
    <div class="site-links flex justify-center">
        <a href="/privacy-policy">Privacy Policy</a>
        <span class="mx-4">|</span>
        <a href="/terms-conditions">Terms & Conditions</a>
    </div>
    <div class="site-copyright-text flex justify-center">
        © 2020 Hong Kong Free Press Limited. Part of <a href="#" class="pl-1">The NewStream Project</a>.
    </div>
</div>