{% load common_tags wagtailcore_tags wagtailimages_tags i18n %}
{% image request|brand_logo max-80x80 as brand_logo %}

<div class='newstream-footer md:items-center'>
    <a href="{% pageurl homepage %}" class="brand-logo-link">
        <img src="{{ brand_logo.url }}" alt="{{ brand_logo.alt }}" width="{{ brand_logo.width }}"
            height="{{ brand_logo.height }}">
    </a>
    <div class="site-links mb-2">
        <a href="{{ privacy_policy_link }}" target="_blank">{% trans 'Privacy Policy' %}</a>
    </div>
    <div class="site-copyright-text flex md:justify-center md:items-center flex-col md:flex-row">
        <span>{% blocktrans %}© 2020 Hong Kong Free Press Limited.</span><span>&nbsp;Part of <a href="https://github.com/diffractive/newstream" target="_blank"
                class="pl-1">The
                NewStream
                Project</a>.{% endblocktrans %}</span>
    </div>
</div>