{% load i18n common_tags wagtailcore_tags wagtailimages_tags %}
{% image 'brand_logo'|site_settings max-120x120 as brand_logo %}

{% include "common/mobile_main_menu.html" %}
<div id="newstream-header" class='z-50 bg-transparent fixed'>
    <div id="newstream-topnav"
        class="flex justify-end lg:justify-between items-center w-screen bg-white py-6 px-8 lg:py-10 lg:px-10 xl:px-16">
        <div class="flex items-center lg:pr-8">
            <div id="nav-toggle" class="lg:hidden focus:outline-none cursor-pointer" onclick="toggleSidenav();">
                <span></span>
                <span></span>
                <span></span>
            </div>
            {% include "common/main_menu.html" %}
        </div>
        <a href="{% pageurl homepage %}" class="brand-logo-link">
            <img src="{{ brand_logo.url }}" alt="{{ brand_logo.alt }}" width="{{ brand_logo.width }}"
                height="{{ brand_logo.height }}">
        </a>
        <div class="items-center justify-end pl-8 hidden lg:flex">
            {% if user.is_authenticated %}
            <div class="nav-user-dropdown-div mr-6 hidden lg:flex items-center dropdown-div-wrapper">
                <input type="checkbox" name="dropdown-toggle-checkbox" id="dropdown-toggle-checkbox"
                    class="dropdown-toggle-checkbox">
                <label for="dropdown-toggle-checkbox" class="dropdown-toggle-label"></label>
                <span class="avatar-icon"></span>
                <span class="user-fullname">{{ user|display_username }}</span>
                <span class="dropdown-chevron-icon"></span>
                <div class="user-dropdown-menu dropdown-menu-popup flex flex-col items-stretch">
                    <a href="{% url 'personal-info' %}">Profile Settings</a>
                    <a href="{% url 'donations:my-onetime-donations' %}">My Donations</a>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'account_login' %}{{ request.path|next_path_filter }}" class="mr-16 menu-item">Sign in</a>
            {% endif %}
            <a href="{% url 'donations:donate'%}" class="menu-item nav-donate-btn">Donate</a>
            <div class="multilang-dropdown-div ml-6 hidden lg:hidden items-center dropdown-div-wrapper">
                {% include 'common/lang_switcher_body.html' with prefix='main' %}
            </div>
        </div>
    </div>
    {% include "messages.html" %}
</div>