*.swp
*.pyc
.DS_Store
/.coverage
/dist/
/build/
/MANIFEST
/wagtail.egg-info/
/docs/_build/
/.tox/
/venv
/node_modules/
npm-debug.log*
*.idea/
/*.egg/
/.cache/
/.pytest_cache/
/media/
*.ipynb

### JetBrains
.idea/
*.iml
*.ipr
*.iws
coverage/
client/node_modules

### vscode
.vscode
.pylintrc

### DJANGO
*.mo
 
### NEWSTREAM
*.log
.backups/
test_pkcs7/
fixure.json
fixture-converted.json
newstream/settings/dev.py
newstream/settings/production.py
/static/
newstream.db

### TEMPORARY
django-app/