{% load wagtailcore_tags %}

<div class="w-full container-row grid grid-cols-1 md:grid-cols-3 grid-gap-4">
    <div class="{{ value.alignment_css }} p-4">
        {% for block in value.column_1 %}
        {% include_block block %}
        {% endfor %}
    </div>
    <div class="{{ value.alignment_css }} p-4">
        {% for block in value.column_2 %}
        {% include_block block %}
        {% endfor %}
    </div>
    <div class="{{ value.alignment_css }} p-4">
        {% for block in value.column_3 %}
        {% include_block block %}
        {% endfor %}
    </div>
</div>