{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{{ mail_title }}
{% endblock %}

{% block content %}
<p style="{{ 'parag'|email_css }}">{% trans 'Hi Admins,' %}</p>
              
<p style="{{ 'parag'|email_css }}">{% trans 'This email is to inform you that a donor account has been deleted on your website:' %}</p>

<p style="{{ 'parag'|email_css }}">
    <a href="{% site_url %}/admin/users/" target="_blank" rel="noopener noreferrer">{% site_url %}/admin/users/</a>
</p>
                
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor name' %}</td>
        <td>{{ user.display_fullname }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor email' %}</td>
        <td>{{ user.email }}</td>
    </tr>
</table>

<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{% site_name %}</p>
{% endblock %}