{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'A Donor Account is created' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "A Donor Account is created" %}</h2>

<p style="{{ 'parag'|email_css }}">{% trans 'Hi Admins,' %}</p>

<p style="{{ 'parag'|email_css }}">{% trans 'This email is to inform you that a donor account has been created on your website:' %}</p>
                
<p style="{{ 'parag'|email_css }}">
    <a href="{{ request|domain }}/admin/users/{{ user.id }}/" target="_blank" rel="noopener noreferrer">{{ request|domain }}/admin/users/{{ user.id }}/</a>
</p>

<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor' %}</td>
        <td>{{ user.fullname }}</td>
    </tr>
</table>

<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ request|site_name }}</p>
{% endblock %}