{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'Your Donation Payment Status has been updated' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "Your Donation Payment Status has been updated" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ donation.donor_name }},</p>
{% if donation.is_recurring %}
{% url 'donations:my-renewals' donation.subscription.id as donations_url %}
{% else %}
{% url 'donations:my-onetime-donations' as donations_url %}
{% endif %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donations_full_url=request|fullurl:donations_url%}Here are the details of your donation at <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">here</a>.{% endblocktrans %}
</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans "Transaction ID" %}</td>
        <td>{{ donation.transaction_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Donation Frequency" %}</td>
        <td>{{ donation.donation_frequency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Currency" %}</td>
        <td>{{ donation.currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Donation Amount" %}</td>
        <td>{{ donation|amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment Status" %}</td>
        <td>{{ donation.payment_status|title }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ request|site_name }}</p>
{% endblock %}