{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{% trans 'NEW ONE-OFF DONATION' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "NEW ONE-OFF DONATION" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ donation.display_donor }},</p>
{% if donation.is_recurring %}
{% url 'donations:my-recurring-donations' as donations_url %}
{% else %}
{% url 'donations:my-onetime-donations' as donations_url %}
{% endif %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donation_amount=donation|amount_with_currency %}A big "thank you" for your kind <strong>{{ donation_amount }}</strong> donation - it is very much appreciated and it will go a long way in supporting our operations.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans %}Your contribution will be well-spent, allowing us to invest more in original reporting and safeguard press freedom. Please check out HKFP's <a href="https://hongkongfp.com/hong-kong-free-press-annual-report-2020/" target="_blank" rel="noopener noreferrer">latest Annual Report</a> - it includes our yearly, <a href="https://hongkongfp.com/hong-kong-free-press-transparency-report-2019/" target="_blank" rel="noopener noreferrer">audited Transparency Report</a>, so you can see how carefully we spend our income.{% endblocktrans %}
</p>
{% if donation.user %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donations_full_url=donations_url|site_rel_url %}Sign into our support page (click "forgot password?" if you have trouble logging in) to <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">view your donation</a>. Please email <a href="mailto:donations@hongkongfp.com">donations@hongkongfp.com</a> if you have any further enquiries.{% endblocktrans %}
</p>
{% endif %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans %}From all of us, <strong>thank you</strong> for helping us keep independent media alive in Hong Kong!{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">{% trans "Details of your donation:" %}</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans "Transaction ID" %}</td>
        <td>{{ donation.transaction_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Donation frequency" %}</td>
        <td>{{ donation.donation_frequency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment method" %}</td>
        <td>{{ donation|display_gateway }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Donation amount" %}</td>
        <td>{{ donation|amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment status" %}</td>
        <td>{{ donation.payment_status|title }}</td>
    </tr>
    {% if donation.is_recurring and donation.subscription %}
    <tr>
        <td style="font-weight: bold;">{% trans 'Recurring donation status' %}</td>
        <td>{{ donation.subscription.recurring_status|title }}</td>
    </tr>
    {% endif %}
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{% site_name %}</p>
{% endblock %}