{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'A Donation Error has occurred' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "A Donation Error has occurred" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans 'Hi Admins,' %}</p>
<p style="{{ 'parag'|email_css }}">{% trans 'This email is to inform you that a donation error has occurred on your website:' %}</p>
<p style="{{ 'parag'|email_css }}">
    <a href="{% site_url %}{% url 'donations_donation_modeladmin_inspect' instance_pk=donation.id %}" target="_blank" rel="noopener noreferrer">{% site_url %}{% url 'donations_donation_modeladmin_inspect' instance_pk=donation.id %}</a>
</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donation transaction ID' %}</td>
        <td>{{ donation.transaction_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor' %}</td>
        <td>{{ donation.donor_name }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Error title' %}</td>
        <td>{{ error_title }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Error description' %}</td>
        <td>{{ error_description }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{% site_name %}</p>
{% endblock %}