{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'New Donation' %}
{% endblock %}

{% block content %}
<table cellpadding="10" cellspacing="0" style="width: 100%;">
    <tr>
        <th style="width: 100%;text-align: left;">
            <h2 style="font-weight: bold;">
                {% trans "Donation Receipt" %}
            </h2>
        </th>
    </tr>
    <tr>
        <td style="width: 100%;">
            <p>{% trans "Dear" %} {{ donation.user.fullname }},</p>
            <p>
                {% trans "Thank you for your generosity! Your support means a lot to us. Here are the details of your donation:" %}
            </p>
            <table cellpadding="10">
                <tr>
                    <td style="font-weight: bold;">{% trans "Order Number" %}</td>
                    <td>{{ donation.order_number }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Donation Frequency" %}</td>
                    <td>{{ donation.donation_frequency }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Currency" %}</td>
                    <td>{{ donation.currency }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Donation Amount" %}</td>
                    <td>{{ donation|amount_with_currency }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Opt in Mailing List?" %}</td>
                    <td>{{ donation.user.optInMailing }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Payment Status" %}</td>
                    <td>{{ donation.payment_status|title }}</td>
                </tr>
                {% if donation.is_recurring %}
                <tr>
                    <td style="font-weight: bold;">{% trans 'Recurring Payment Status' %}</td>
                    <td>{{ donation.subscription.recurring_status|title }}</td>
                </tr>
                {% endif %}
            </table>
            <p>{% trans "Thank you," %}</p>
            <p>{{ request|site_name }}</p>
        </td>
    </tr>
</table>
{% endblock %}