{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{% trans 'Your New Recurring Donation is Activated' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "Your New Recurring Donation is Activated" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ subscription.user.fullname }},</p>
{% url 'donations:my-recurring-donations' as donations_url %}
<p style="{{ 'parag'|email_css }}">
    {% trans "Your new recurring donation has just been activated." %}{% blocktrans with donations_full_url=request|fullurl:donations_url%} Click <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">here</a> to view your recurring donations on the website.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% trans "Here are the details of your recurring donation:" %}
</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor' %}</td>
        <td>{{ subscription.user.fullname }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring donation identifier" %}</td>
        <td>{{ subscription.profile_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment method" %}</td>
        <td>{{ subscription|display_gateway }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring donation amount" %}</td>
        <td>{{ subscription|recurring_amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Recurring donation status' %}</td>
        <td>{{ subscription.recurring_status|title }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ request|site_name }}</p>
{% endblock %}