{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{% trans 'DONATION PAUSED' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "DONATION PAUSED" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ subscription.user.fullname }},</p>
{% url 'donations:my-recurring-donations' as donations_url %}
<p style="{{ 'parag'|email_css }}">
    {% trans "Thanks very much for your recent support."" %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% trans "Your recurring donation to HKFP has been paused at your request - no further payments will be processed, unless you reactivate your contribution." %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donations_full_url=donations_url|site_rel_url %}Sign into our support page (click "forgot password?" if you have trouble logging in) if you wish to <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">support us again</a> in the future. Please email <a href="mailto:donations@hongkongfp.com">donations@hongkongfp.com</a> if you have any further enquiries.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans %}From all of us, <strong>thank you</strong> for helping us keep independent media alive in Hong Kong!{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">{% trans "Details of your recurring donation:" %}</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor' %}</td>
        <td>{{ subscription.user.fullname }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring donation identifier" %}</td>
        <td>{{ subscription.profile_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment method" %}</td>
        <td>{{ subscription|display_gateway }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring donation amount" %}</td>
        <td>{{ subscription|recurring_amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Recurring donation status' %}</td>
        <td>{{ subscription.recurring_status|title }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{% site_name %}</p>
{% endblock %}