{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'A Recurring Donation is paused' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "A Recurring Donation is paused" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans 'Hi Admins,' %}</p>
<p style="{{ 'parag'|email_css }}">
    {% trans 'This email is to inform you that a recurring donation has been paused on your website:' %}
</p>
<p style="{{ 'parag'|email_css }}">
    <a href="{{ request|domain }}{% url 'donations_subscription_modeladmin_inspect' instance_pk=subscription.id %}" target="_blank" rel="noopener noreferrer">{{ request|domain }}{% url 'donations_subscription_modeladmin_inspect' instance_pk=subscription.id %}</a>
</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor' %}</td>
        <td>{{ subscription.user.fullname }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring Donation Identifier" %}</td>
        <td>{{ subscription.profile_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Currency" %}</td>
        <td>{{ subscription.currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring Donation Amount" %}</td>
        <td>{{ subscription|recurring_amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Recurring Donation Status' %}</td>
        <td>{{ subscription.recurring_status|title }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ request|site_name }}</p>
{% endblock %}