{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{% trans 'Renewal Donation Receipt' %}
{% endblock %}

{% block content %}
<h2 style="{{ 'heading'|email_css }}">{% trans "Renewal Donation Receipt" %}</h2>
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ donation.user.fullname }},</p>
{% url 'donations:my-renewals' donation.subscription.id as donations_url %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donations_full_url=request|fullurl:donations_url%}Thank you for your generosity! Your support means a lot to us. Click <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">here</a> to view your renewal donation on the website.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">{% trans "Here are the details of your donation:" %}</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans "Transaction ID" %}</td>
        <td>{{ donation.transaction_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Donation frequency" %}</td>
        <td>{{ donation.donation_frequency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment method" %}</td>
        <td>{{ donation|display_gateway }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Donation amount" %}</td>
        <td>{{ donation|amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment status" %}</td>
        <td>{{ donation.payment_status|title }}</td>
    </tr>
    {% if donation.is_recurring %}
    <tr>
        <td style="font-weight: bold;">{% trans 'Recurring donation status' %}</td>
        <td>{{ donation.subscription.recurring_status|title }}</td>
    </tr>
    {% endif %}
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ request|site_name }}</p>
{% endblock %}