{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{% trans 'Renewal Donation Receipt' %}
{% endblock %}

{% block content %}
<table cellpadding="10" cellspacing="0" style="width: 100%;">
    <tr>
        <th style="width: 100%;text-align: left;">
            <h2 style="font-weight: bold;">
                {% trans "Renewal Donation Receipt" %}
            </h2>
        </th>
    </tr>
    <tr>
        <td style="width: 100%;">
            <p>{% trans "Dear" %} {{ donation.user.fullname }},</p>
            {% url 'donations:my-renewals' donation.subscription.id as donations_url %}
            <p>
                {% blocktrans with donations_full_url=request|fullurl:donations_url%}Thank you for your generosity! Your support means a lot to us. Click <a href="{{donations_full_url}}" target="_blank">here</a> to view your renewal donation on the website.{% endblocktrans %}
            </p>
            <p>{% trans "Here are the details of your donation:" %}</p>
            <table cellpadding="10">
                <tr>
                    <td style="font-weight: bold;">{% trans "Order Number" %}</td>
                    <td>{{ donation.order_number }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Donation Frequency" %}</td>
                    <td>{{ donation.donation_frequency }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Currency" %}</td>
                    <td>{{ donation.currency }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Donation Amount" %}</td>
                    <td>{{ donation|amount_with_currency }}</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">{% trans "Payment Status" %}</td>
                    <td>{{ donation.payment_status|title }}</td>
                </tr>
                {% if donation.is_recurring %}
                <tr>
                    <td style="font-weight: bold;">{% trans 'Recurring Donation Status' %}</td>
                    <td>{{ donation.subscription.recurring_status|title }}</td>
                </tr>
                {% endif %}
            </table>
            <p>{% trans "Thank you," %}</p>
            <p>{{ request|site_name }}</p>
        </td>
    </tr>
</table>
{% endblock %}