{% extends "base.html" %}
{% load static common_tags widget_tweaks %}

{% block title %}Donation Details{% endblock %}

{% block body_class %}newstream-donation-details-page{% endblock %}

{% block content %}

<div class="flex donation-header">
    <div class="step-div w-40 p-6 text-right">Step 2 of 3</div>
    <div class="step-label-div flex-1 p-6 text-left text-white">Donation Details</div>
</div>

<div class="donation-form-div container-tight">
    {# Form Errors #}
    <div class="form-errors flex flex-col">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
            <p class="font-bold">Form Error - {{ field.label }}:</p>
            <p>{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
            <p class="font-bold">Form Error:</p>
            <p>{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    {# Form Area #}
    <form method='POST' action=''>
        <div class="flex flex-row justify-center mb-4">
            {% csrf_token %}
            {# Include the hidden fields #}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="donation-details-section">
                <h2 class="mb-2">Donation Details</h2>
                {% if request.user.is_authenticated %}
                <div class="mb-6">
                    <p>Logged in as {{ request.user|display_username }}. <a
                            href="{% url 'account_logout' %}?next={{request.path}}">Logout</a></p>
                </div>
                {% endif %}
                {% for field in form.visible_fields %}
                {% if field.html_name in donation_details_fields %}
                <div class="mb-4">
                    <div class="label-div">{{ field.label_tag }}</div>
                    <div class="field-div widget_{{ field|widget_type }}">
                        {{ field }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {# Meta Fields #}
                {% for field in form.visible_fields %}
                {% if field.html_name|startswith:"donationmeta" %}
                {% if field|widget_type == 'checkboxinput' %}
                <div class="mb-4 widget_checkboxinput flex items-center">
                    {{ field }} {{ field.label_tag }}
                </div>
                {% else %}
                <div class="mb-4">
                    <div class="label-div">{{ field.label_tag }}</div>
                    <div class="field-div widget_{{ field|widget_type }}">
                        {{ field }}
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}

                <button class="ns-wide-btn right-arrow-btn" type="submit">Continue<span class="icon"></span></button>
                <div class="form-footer-text">{{ form.footer_html|safe }}</div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}