{% extends "base.html" %}
{% load static common_tags widget_tweaks %}

{% block title %}Donate to {{ request|site_name }}{% endblock %}

{% block body_class %}omp-onetime-donation-page{% endblock %}

{% block content %}

<div class="flex donation-header">
    <div class="step-div w-40 p-6 text-right">Step 1 of 2</div>
    <div class="step-label-div flex-1 p-6 text-left text-white">Your donation details</div>
</div>

<div class="donation-form-div container-tight">
    {# Form Errors #}
    <div class="form-errors flex flex-col">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
            <p class="font-bold">Form Error - {{ field.label }}:</p>
            <p>{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in field.non_field_errors %}
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
            <p class="font-bold">Form Error:</p>
            <p>{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    {# Form Area #}
    {# todo: account for all widget types make available from dynamic meta fields and css stylize them #}
    <form method='POST' action=''>
        <div class="flex mb-4">
            {% csrf_token %}
            {# Include the hidden fields #}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="donation-details-section">
                <h2 class="mb-4">Donation details</h2>
                {% for field in form.visible_fields %}
                {% if field.html_name in donation_details_fields %}
                <div class="mb-4">
                    <div class="label-div">{{ field.label_tag }}</div>
                    <div class="field-div widget_{{ field|widget_type }}">
                        {{ field }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="personal-info-section">
                <h2 class="mb-4">Personal info</h2>
                {% for field in form.visible_fields %}
                {% if field.html_name in personal_info_fields %}
                <div class="mb-4">
                    <div class="label-div">{{ field.label_tag }}</div>
                    <div class="field-div widget_{{ field|widget_type }}">
                        {{ field }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% if request.user.is_authenticated %}
                <div class="mt-6">
                    <div class="field-div mb-2 text-center">
                        <a class="ns-btn inline-block" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
                    </div>
                    <p class="secondary-text text-center">Log out if you do not wish to donate as this user.</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mx-auto flex flex-col mb-4 other-fields-section">
            {# Other Fields #}
            {% for field in form.visible_fields %}
            {% if field.html_name in other_fields %}
            {% if field|widget_type == 'checkboxinput' %}
            <div class="mb-4 widget_checkboxinput flex items-center">
                {{ field }} {{ field.label_tag }}
            </div>
            {% if field.html_name == 'is_create_account' %}
            <div class="mb-4 pl-12 member-account-notice">Check this box to create an account using the email address
                above. This will allow
                you to log in and easily view and
                manage your donations in the future.</div>
            {% endif %}
            {% else %}
            <div class="mb-4">
                <div class="label-div">{{ field.label_tag }}</div>
                <div class="field-div widget_{{ field|widget_type }}">
                    {{ field }}
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <button class="ns-wide-btn right-arrow-btn" type="submit">Continue<span class="icon"></span></button>
            <div class="form-footer-text">{{ form.footer_html|safe }}</div>
        </div>
    </form>
</div>
{% endblock content %}