{% extends "base.html" %}
{% load static common_tags i18n %}

{% block title %}{% trans 'My Donations' %}{% endblock %}
{% block body_class %}my-donations-page{% endblock %}

{% block content %}
<div class="w-full bg-primary-dark">
    <div class="container">
        <h1 class="mb-4 text-white">{% trans 'My donations' %}</h1>
        <p class="text-primary-light lg:w-3/4">
            {% trans 'View and manage your donations here. We thank you so much for your support. Every contribution, however big or small, is valuable for our future and our ability to deliver quality journalism that’s independent, not-for-profit, and free of charge.' %}
        </p>
    </div>
</div>
<div class="container">
    <div class="lg:hidden flex flex-col">
        {% if donations %}
        {% for donation in donations %}
        <div class="donation-record p-4 rounded-lg bg-primary-light mb-4">
            <table class="w-full">
                <tr>
                    <td colspan="2"><span class="font-bold">#&nbsp;</span>{{ donation.order_number }}</td>
                    <td width="50">
                        {% if donation.is_recurring %}
                        <div class="more-dropdown-div flex items-center dropdown-div-wrapper">
                            <input type="checkbox" name="md_dropdown-toggle-checkbox"
                                id="md_dropdown-toggle-checkbox{{forloop.counter}}" class="dropdown-toggle-checkbox">
                            <label for="md_dropdown-toggle-checkbox{{forloop.counter}}"
                                class="dropdown-toggle-label"></label>
                            <span class="three-dots-icon"></span>
                            <div class="more-dropdown-menu dropdown-menu-popup flex flex-col items-stretch">
                                {% if request.user.is_email_verified %}
                                <a href="#">{% trans 'View all renewals' %}</a>
                                <a href="#">{% trans 'Edit donation' %}</a>
                                <a href="#">{% trans 'Cancel donation' %}</a>
                                {% else %}
                                <a class="actions-locked" href="#">{% trans 'Actions locked (Email unverified)' %}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="120">{{ donation|amount_with_currency }}</td>
                    <td>{{ siteSettings|get_attr:donation.gateway.frontend_label_attr_name }}</td>
                    <td>&nbsp;</td>
                <tr>
                    <td>{{ donation.donation_frequency }}</td>
                    <td>{{ donation.created_at|date:'j M Y' }}</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <table class="w-full my-donations-table hidden lg:block">
        <thead>
            <tr>
                <th>{% trans 'Donation Amount' %}</th>
                <th>{% trans 'Donation Frequency' %}</th>
                <th>{% trans 'Order Number' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Payment Method' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if donations %}
            {% for donation in donations %}
            <tr>
                <td>{{ donation|amount_with_currency }}</td>
                <td>{{ donation.donation_frequency }}</td>
                <td>{{ donation.order_number }}</td>
                <td>{{ donation.created_at|date:'j M Y' }}</td>
                <td>{{ siteSettings|get_attr:donation.gateway.frontend_label_attr_name }}</td>
                <td>
                    {% if donation.is_recurring %}
                    <div class="more-dropdown-div flex items-center dropdown-div-wrapper">
                        <input type="checkbox" name="md2_dropdown-toggle-checkbox"
                            id="md2_dropdown-toggle-checkbox{{forloop.counter}}" class="dropdown-toggle-checkbox">
                        <label for="md2_dropdown-toggle-checkbox{{forloop.counter}}"
                            class="dropdown-toggle-label"></label>
                        <span class="three-dots-icon"></span>
                        <div class="more-dropdown-menu dropdown-menu-popup flex flex-col items-stretch">
                            {% if request.user.is_email_verified %}
                            <a href="#">{% trans 'View all renewals' %}</a>
                            <a href="#">{% trans 'Edit donation' %}</a>
                            <a href="#">{% trans 'Cancel donation' %}</a>
                            {% else %}
                            <a class="actions-locked" href="#">{% trans 'Actions locked (Email unverified)' %}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">{% trans 'No Donation History.' %}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}