{% extends "base.html" %}
{% load static common_tags i18n %}

{% block title %}{% trans 'My Donations' %}{% endblock %}
{% block body_class %}my-donations-page{% endblock %}

{% block content %}
<div class="w-full bg-primary-dark">
    <div class="container">
        <h1 class="mb-4 text-white">{% trans 'My donations' %}</h1>
        <p class="text-primary-light lg:w-3/4">
            {% trans 'View and manage your donations here. We thank you so much for your support. Every contribution, however big or small, is valuable for our future and our ability to deliver quality journalism that’s independent, not-for-profit, and free of charge.' %}
        </p>
    </div>
</div>
<div class="container">
    <div class="lg:hidden flex flex-col">
        {% if donations %}
        {% for donation in donations %}
        <div class="donation-record p-4 rounded-lg bg-primary-light mb-4">
            <table class="w-full">
                <tr>
                    <td colspan="2"><span class="font-bold">#&nbsp;</span>{{ donation.order_number }}</td>
                    <td width="50">
                        {% if donation.is_recurring %}
                        <div class="more-dropdown-div flex items-center dropdown-div-wrapper">
                            <input type="checkbox" name="md_dropdown-toggle-checkbox"
                                id="md_dropdown-toggle-checkbox{{forloop.counter}}" class="dropdown-toggle-checkbox">
                            <label for="md_dropdown-toggle-checkbox{{forloop.counter}}"
                                class="dropdown-toggle-label"></label>
                            <span class="three-dots-icon"></span>
                            <div class="more-dropdown-menu dropdown-menu-popup flex flex-col items-stretch">
                                {% if request.user.is_email_verified %}
                                {% if donation.isRecurringCancelled %}
                                <div class="payment-cancelled-options-div" data-id="{{ donation.id }}">
                                    <button class="view-recurring-donation" data-id="{{ donation.id }}"
                                        data-href="{% url 'donations:my-renewals' donation.id %}">{% trans 'View all renewals' %}</button>
                                </div>
                                {% else %}
                                <div class="payment-recurring-options-div" data-id="{{ donation.id }}">
                                    <button class="view-recurring-donation" data-id="{{ donation.id }}"
                                        data-href="{% url 'donations:my-renewals' donation.id %}">{% trans 'View all renewals' %}</button>
                                    <button class="edit-recurring-donation"
                                        data-id="{{ donation.id }}">{% trans 'Edit donation' %}</button>
                                    <button class="cancel-recurring-donation"
                                        data-id="{{ donation.id }}">{% trans 'Cancel recurring donation' %}</button>
                                </div>
                                {% endif %}
                                {% else %}
                                <button class="actions-locked">{% trans 'Actions locked (Email unverified)' %}</button>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="120">{{ donation|amount_with_currency }}</td>
                    <td>{{ siteSettings|get_attr:donation.gateway.frontend_label_attr_name }}</td>
                    <td>&nbsp;</td>
                <tr>
                    <td>{{ donation.donation_frequency }}</td>
                    <td>{{ donation.created_at|date:'j M Y' }}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% if donation.is_recurring %}{{ donation.recurring_status|title }}{% else %}{{ donation.payment_status|title }}{% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <table class="w-full my-donations-table hidden lg:block">
        <thead>
            <tr>
                <th>{% trans 'Donation Amount' %}</th>
                <th>{% trans 'Donation Frequency' %}</th>
                <th>{% trans 'Order Number' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Payment Method' %}</th>
                <th>{% trans 'Status' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if donations %}
            {% for donation in donations %}
            <tr>
                <td>{{ donation|amount_with_currency }}</td>
                <td>{{ donation.donation_frequency }}</td>
                <td>{{ donation.order_number }}</td>
                <td>{{ donation.created_at|date:'j M Y' }}</td>
                <td>{{ siteSettings|get_attr:donation.gateway.frontend_label_attr_name }}</td>
                <td>{% if donation.is_recurring %}{{ donation.recurring_status|title }}{% else %}{{ donation.payment_status|title }}{% endif %}
                </td>
                <td>
                    {% if donation.is_recurring %}
                    <div class="more-dropdown-div flex items-center dropdown-div-wrapper">
                        <input type="checkbox" name="md2_dropdown-toggle-checkbox"
                            id="md2_dropdown-toggle-checkbox{{forloop.counter}}" class="dropdown-toggle-checkbox">
                        <label for="md2_dropdown-toggle-checkbox{{forloop.counter}}"
                            class="dropdown-toggle-label"></label>
                        <span class="three-dots-icon"></span>
                        <div class="more-dropdown-menu dropdown-menu-popup flex flex-col items-stretch">
                            {% if request.user.is_email_verified %}
                            {% if donation.isRecurringCancelled %}
                            <div class="payment-cancelled-options-div" data-id="{{ donation.id }}">
                                <button class="view-recurring-donation" data-id="{{ donation.id }}"
                                    data-href="{% url 'donations:my-renewals' donation.id %}">{% trans 'View all renewals' %}</button>
                            </div>
                            {% else %}
                            <div class="payment-recurring-options-div" data-id="{{ donation.id }}">
                                <button class="view-recurring-donation" data-id="{{ donation.id }}"
                                    data-href="{% url 'donations:my-renewals' donation.id %}">{% trans 'View all renewals' %}</button>
                                <button class="edit-recurring-donation"
                                    data-id="{{ donation.id }}">{% trans 'Edit donation' %}</button>
                                <button class="cancel-recurring-donation"
                                    data-id="{{ donation.id }}">{% trans 'Cancel recurring donation' %}</button>
                            </div>
                            {% endif %}
                            {% else %}
                            <button class="actions-locked">{% trans 'Actions locked (Email unverified)' %}</button>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">{% trans 'No Donation History.' %}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'same-origin', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            // referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    window.addEventListener('load', function () {
        for (let wrapper of document.getElementsByClassName("cancel-recurring-donation")) {
            wrapper.addEventListener("click", function (event) {
                let donation_id = wrapper.getAttribute('data-id');
                // todo: beautify the confirm dialog + better error handling
                if (confirm('Confirm Cancel Recurring Payment?')) {
                    postData('{% url "donations:cancel-recurring" %}', { donation_id: donation_id })
                        .then(data => {
                            if (data['status'] == 'success') {
                                alert('Recurring donation cancelled!');
                                for (let buttonsDiv of document.querySelectorAll(`div.payment-recurring-options-div[data-id='${donation_id}']`)) {
                                    buttonsDiv.innerHTML = `<button class="view-recurring-donation" data-id="${donation_id}" data-href="${data['button-href']}">${data['button-html']}</button>`;
                                }
                            } else {
                                alert(data['reason']);
                            }
                        });
                }
            });
        }
        for (let wrapper of document.getElementsByClassName("view-recurring-donation")) {
            wrapper.addEventListener("click", function (event) {
                let href = wrapper.getAttribute('data-href');
                window.location.href = href;
            })
        }
    });
</script>
{% endblock %}