{% extends "base.html" %}
{% load static widget_tweaks i18n %}

{% block title %}{% trans 'Redirecting to 2C2P' %}{% endblock %}

{% block body_class %}newstream-redirect-2c2p-page{% endblock %}

{% block extra_head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<div class="flex donation-header">
    <div class="step-div w-30 md:w-40 p-6 text-right">{% trans 'Step 3 of 3' %}</div>
    <div class="step-label-div flex-1 p-6 text-left text-white">{% trans 'Secure Payment' %}</div>
</div>

<div class="container-tight redirect-loading-div flex flex-col justify-center items-center">
    <img src="{% static 'img/loading-spinner.gif' %}" class="w-10 h-10 lg:w-16 lg:h-16 mb-4" alt="loading-spinner">
    <p>{% trans 'Redirecting to Payment Gateway Page...' %}</p>
</div>

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('{{ publishable_key }}');

    setTimeout(() => {
        // Create a new Checkout Session using the server-side endpoint you
        fetch('{% url "donations:create-stripe-session" %}', {
            method: 'POST',
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }, 100);
</script>
{% endblock content %}