{% extends "base.html" %}
{% load static common_tags i18n %}

{% block title %}{% trans 'Donation Revoked' %}{% endblock %}

{% block body_class %}newstream-revoked-page{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    {% if isValid %}
    <h1 class="mb-5 text-center">{% trans 'Donation Revoked' %}</h1>
    <p class="mb-1 text-center">{% trans 'Your payment is revoked.' %}
        {% with has_socialaccount=donation.user|has_socialaccount %}
        {% if isFirstTime and not has_socialaccount %}
        <span>
            {% trans 'You will be receiving a verification email shortly, click on the link in the email to verify your email.' %}</span>
        {% endif %}
        {% endwith %}
    </p>
    <p class="mb-5 text-center">{% trans 'Please consider donating to us again. Your support means a lot to us.' %}</p>
    <div class="donation-info-box info-spacing-css p-4 lg:p-8 border-2 rounded border-gray-200">
        <p class="field-label">{% trans 'Donor' %}</p>
        <p class="field-value text-primary font-bold">{{ donation.donor_name }}</p>
        <p class="field-label">{% trans 'Transaction ID' %}</p>
        <p class="field-value text-primary font-bold" style="word-break: break-all;">{{ donation.transaction_id }}</p>
        <p class="field-label">{% trans 'Donation frequency' %}</p>
        <p class="field-value text-primary font-bold">{{ donation.donation_frequency }}</p>
        <p class="field-label">{% trans 'Payment method' %}</p>
        <p class="field-value text-primary font-bold">{{ paymentMethod }}</p>
        <p class="field-label">{% trans 'Donation amount' %}</p>
        <p class="field-value text-primary font-bold">{{ donation|amount_with_currency }}</p>
        <p class="field-label">{% trans 'Payment status' %}</p>
        <p class="field-value text-primary font-bold">{{ donation.payment_status|title }}</p>
    </div>
    <br>
    {% else %}
    <h1>{{ error_title }}</h1>
    <p>{{ error_message }}</p>
    {% endif %}
</div>
{% endblock content %}