{% extends "base.html" %}
{% load static common_tags %}

{% block title %}Thank You for your donation{% endblock %}

{% block body_class %}omp-thankyou-page{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    {% if isValid %}
    <h1 class="mb-5">Thank you!</h1>
    {% if isFirstTime %}
    <p class="mb-1 text-center">Your payment has been successful and you will be receiving a verification email shortly,
        click on the link in the email to verify your email.</p>
    {% else %}
    <p class="mb-1 text-center">Your payment has been successful.</p>
    {% endif %}
    <p class="mb-5 text-center">We are so grateful for your support.</p>
    <div class="p-8 lg:py-8 lg:px-24 border-2 rounded border-gray-200">
        <table class="thankyou-table">
            <tr>
                <td>Donor</td>
                <td>{{ donation.donor.fullname }}</td>
            </tr>
            <tr>
                <td>Order number</td>
                <td>{{ donation.order_number }}</td>
            </tr>
            <tr>
                <td>Donation frequency</td>
                <td>{{ donation.donation_frequency }}</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>{{ donation.currency }}</td>
            </tr>
            <tr>
                <td>Donation amount</td>
                <td>{{ donation|amount_with_currency }}</td>
            </tr>
            <tr>
                <td>Opt in Mailing List?</td>
                <td>{{ donation.donor.optInMailingIcon|safe }}</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>{{ donation.payment_status }}</td>
            </tr>
        </table>
    </div>
    <br>
    {% else %}
    <h1>{{ error_message }}</h1>
    {% endif %}
</div>
{% endblock content %}