{% load common_tags wagtailcore_tags i18n %}

<div id="newstream-mobile-mainmenu" class="bg-white flex flex-col items-stretch">
    <div class="btm-grey-border flex justify-between items-center py-6 px-8">
        <div class="multilang-dropdown-div flex items-center dropdown-div-wrapper">
            <div class="hidden">
            {% include 'common/lang_switcher_body.html' with prefix='mobile' %}
            </div>
        </div>
        <div id="close-nav-toggle" name="nav-menu" class="focus:outline-none cursor-pointer">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="btm-grey-border">
        <div class="menu-item-wrapper">
            <a href="https://hongkongfp.com/contact-us/" target="_blank" class="menu-item flex items-center">{% trans 'Contact Us' %}</a>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="menu-item-wrapper btm-grey-border">
        <div class="mb-3 flex items-center">
            <span class="avatar-icon mr-2"></span>
            <span class="menu-item">{{ user|display_username }}</span>
        </div>
        <div class="flex flex-col user-area-links">
            <div class="mb-3">
                <a href="{% url 'personal-info' %}" class="user-link">{% trans 'Profile Settings' %}</a>
            </div>
            <div class="mb-3">
                <a href="{% url 'donations:my-onetime-donations' %}" class="user-link">{% trans 'My Donations' %}</a>
            </div>
            <div class="mb-3">
                <a href="{% url 'account_logout' %}" class="user-link">{% trans 'Logout' %}</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="menu-item-wrapper btm-grey-border">
        <a href="{% url 'account_login' %}{{ request.path|next_path_filter }}" class="menu-item">{% trans 'Sign in' %}</a>
    </div>
    {% endif %}
    <div class="px-6 py-8 flex">
        <a href="{% url 'donations:donate'%}"
            class="menu-item nav-donate-btn text-center w-full">{% trans 'Donate' %}</a>
    </div>
</div>
