{% extends "base.html" %}
{% load common_tags widget_tweaks account socialaccount i18n %}

{% block title %}{% blocktrans %}Login to {{ request|site_name }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5">% blocktrans %}Login to {{ request|site_name }}{% endblocktrans %}</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="flex flex-col login-container items-stretch">
            {% include 'common/form_errors.html' %}

            <div class="mb-4">
                <div class="label-div">{{ form.login.label_tag }}</div>
                <div class="field-div widget_{{ form.login|widget_type }}">
                    {{ form.login }}
                </div>
            </div>
            <div class="mb-4">
                <div class="label-div">{{ form.password.label_tag }}</div>
                <div class="field-div widget_{{ form.password|widget_type }}">
                    {{ form.password }}
                </div>
            </div>
            <div class="mb-4 widget_checkboxinput flex items-center">
                {{ form.remember }} {{ form.remember.label_tag|remember_filter }}
            </div>
            <button class="ns-wide-btn right-arrow-btn" type="submit">{% trans 'Login' %}<span
                    class="icon"></span></button>
            <div class="login-form-footer flex flex-col items-center">
                <a href="{% url 'account_reset_password' %}" class="mb-2">{% trans 'Forgot Password?' %}</a>
                <span>{% trans 'Not yet a member?' %} <a
                        href="{% url 'donations:donate' %}">{% trans 'Donate and Join Now' %}</a></span>
            </div>
        </div>
    </form>
</div>
{% endblock %}