{% extends 'base.html' %}
{% load common_tags widget_tweaks account i18n %}

{% block title %}{% trans 'Reset Your Password?' %}{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5 text-center">{% trans 'Need to reset your password?' %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="flex flex-col reset-pwd-container items-stretch">
            <p class="text-center mb-5">
                {% trans 'Once you have filled out the following form, a reset password link will be sent to your registered email address.' %}
            </p>
            {% include 'common/form_errors.html' %}
            {% include 'common/form_visible_fields.html' %}
            <button class="ns-wide-btn right-arrow-btn" type="submit">Submit<span class="icon"></span></button>
        </div>
    </form>
</div>
{% endblock %}