{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}Change My Password{% endblock %}

{% block body_class %}newstream-change-password{% endblock %}

{% block content %}
<div class="container grid grid-cols-1 gap-4 lg:grid-cols-3">
    {% include 'profile_settings/sidebar.html' %}
    <div class="settings-div w-full flex flex-col lg:col-span-2">
        <h1 class="mb-5">Change my password</h1>
        {% include 'common/form_errors.html' %}
        <form method='POST' action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {% include 'common/form_visible_fields.html' %}
            <button class="ns-wide-btn right-arrow-btn" type="submit">Submit<span class="icon"></span></button>
        </form>
    </div>
</div>
{% endblock content %}