{% extends 'base.html' %}
{% load common_tags i18n %}

{% block title %}{% trans 'Email Sent' %}{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5">{% trans 'Check your inbox.' %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="text-center mt-5">
        {% trans 'We've emailed you instructions for setting your password. You should receive the email shortly! Please contact us if you do not receive the email in a few minutes.' %}
    </p>
</div>
{% endblock %}