{% extends 'base.html' %}
{% load common_tags widget_tweaks account %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="mb-3">The password reset link was invalid, possibly because it has already been used. Please request a <a
            href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
    {% if form %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {% include 'common/form_errors.html' %}
        {% include 'common/form_visible_fields.html' %}
        <button class="ns-wide-btn right-arrow-btn" type="submit">Submit<span class="icon"></span></button>
    </form>
    {% else %}
    <p class="mb-3">Your password is now changed.</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}