{% extends "base.html" %}
{% load static common_tags widget_tweaks i18n %}

{% block title %}{% trans 'Personal Info Registration' %}{% endblock %}

{% block body_class %}newstream-personal-info-page{% endblock %}

{% block content %}

<div class="flex donation-header">
    <div class="step-div w-30 md:w-40 p-6 text-right">{% trans 'Step 1 of 3' %}</div>
    <div class="step-label-div flex-1 p-6 text-left text-white">{% trans 'Personal Info' %}</div>
</div>

<div class="personal-info-form-div container-tight">
    {% include 'common/form_errors.html' %}
    {# Form Area #}
    <form method='POST' action="{% url 'account_signup' %}?next={{ redirect_field_value }}">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="flex flex-row justify-center mb-4">
            {% csrf_token %}
            <div class="personal-info-section w-full">
                <h2 class="mb-4">{% trans 'Personal Info' %}</h2>
                {% include 'common/signup_form_content.html' %}
            </div>
        </div>
    </form>
</div>
{% endblock content %}