{% extends "base.html" %}
{% load static common_tags widget_tweaks %}

{% block title %}Complete Account Registration{% endblock %}

{% block body_class %}newstream-account-registration-page{% endblock %}

{% block content %}
<div class="complete-registration-form-div container-tight">
    <h3 class="my-6">{% with provider_name=account.get_provider.name %}You are about to use your {{provider_name}}
        account to login to {{ request|site_name }}. Please complete the following form to complete user
        registration:{% endwith %}</h3>
    {% include 'common/form_errors.html' %}
    {# Form Area #}
    <form method='POST' action="{% url 'socialaccount_signup' %}">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="flex flex-row justify-center mb-4">
            {% csrf_token %}
            {% include 'common/signup_form_content.html' %}
        </div>
    </form>
</div>
{% endblock content %}