<script>
    window.onload = () => {
        (($) => {
            $(document).on('click', '.tab-nav a', function (e) {
                e.preventDefault();
                var firstSubTab = $($(this).attr('href') + ' .tab-nav a').first();
                if (firstSubTab) {
                    setTimeout(() => firstSubTab.tab('show'), 10);
                    // firstSubTab.tab('show'); <- this sometimes does not work
                    window.history.replaceState(null, null, $(firstSubTab).attr('href'));
                }
            });
        })(window.jQuery)
    }
</script>

{% load wagtailadmin_tags %}
<div class="tab-nav top-tab-nav merged">
    <ul data-tab-nav role="tablist" data-current-tab="{{ self.children.0.heading|cautious_slugify }}">
        {% for child in self.children %}
        <li class="{{ child.classes|join:" " }} {% if forloop.first %}active{% endif %}" role="tab"
            aria-controls="tab-{{ child.heading|cautious_slugify }}">
            <a href="#tab-{{ child.heading|cautious_slugify }}"
                class="{% if forloop.first %}active{% endif %}" data-tab="{{ child.heading|cautious_slugify }}">{{ child.heading }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="tab-content top-tabbed-content">
    {% for child in self.children %}
    <section id="tab-{{ child.heading|cautious_slugify }}"
        class="{{ child.classes|join:" " }} {% if forloop.first %}active{% endif %}" role="tabpanel"
        aria-labelledby="tab-label-{{ child.heading|cautious_slugify }}" data-tab="{{ child.heading|cautious_slugify }}">
        {{ child.render_as_object }}
    </section>
    {% endfor %}
</div>