// colors
$primary-color: #1076e4;
$primary-light-color: #e9f3ff;
$primary-dark-color: #06233c;
$border-grey-color: #E8EBED;
$warning-color: #EC7601;
$warning-light-color: #FEF8F2;
$error-color: #E41010;
$error-light-color: #FFBDBD;
$gray-color: #525252;
$gray-light-color: #F3F3F3;

.bg-primary {
    background-color: $primary-color !important;
}
.bg-primary-light {
    background-color: $primary-light-color !important;
}
.bg-primary-dark {
    background-color: $primary-dark-color !important;
}
.bg-warning {
    background-color: $warning-color !important;
}
.bg-warning-light {
    background-color: $warning-light-color !important;
}
.bg-error {
    background-color: $error-color !important;
}
.bg-error-light {
    background-color: $error-light-color !important;
}
.bg-gray-light {
    background-color: $gray-light-color !important;
}
.text-primary {
    color: $primary-color !important;
}
.text-primary-light {
    color: $primary-light-color !important;
}
.text-primary-dark {
    color: $primary-dark-color !important;
}
.text-warning {
    color: $error-color !important;
}
.text-gray {
    color: $gray-color !important;
}

// sidenav cover width
$sidenav-width: 80%;
