{% load common_tags wagtailimages_tags %}
{% image request|brand_logo max-120x120 as brand_logo %}

<div class='newstream-top-nav'>
    <a href="{{ request|domain }}" class="brand-logo-link">
        <img src="{{ brand_logo.url }}" alt="{{ brand_logo.alt }}" width="{{ brand_logo.width }}"
            height="{{ brand_logo.height }}">
    </a>
    <div class="left-nav flex items-center">
        <a id="nav-toggle" href="#"><span></span></a>
        <a href="/contact-us" class="menu-item ml-16">Contact</a>
    </div>
    <div class="right-nav flex items-center justify-end">
        {% if user.is_authenticated %}
        <a href="#" class="mr-16 menu-item">{{ user.fullname }}</a>
        {% else %}
        <a href="{% url 'login'%}?next={{request.path}}" class="mr-16 menu-item">Sign in</a>
        {% endif %}
        <a href="{% url 'donations:donate'%}" class="menu-item nav-donate-btn">Donate</a>
    </div>
</div>