{% extends "base_email.html" %}
{% load common_tags i18n %}

{% block title %}
{{ mail_title }}
{% endblock %}

{% block content %}
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ user.display_fullname }},</p>

<p style="{{ 'parag'|email_css }}">
    {% trans "Thanks very much for your recent support." %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with sitename=''|site_name_filter %}Your account at {{ site_name }} has been deleted at your request.{% endblocktrans %}
</p>
<p style="{{ 'last-parag'|email_css }}">
    {% trans "We are grateful to the minority of readers who help keep HKFP free to access for everyone. From all of us, thank you for backing our team and helping keep independent media alive in Hong Kong!" %}
</p>

<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{% site_name %}</p>
{% endblock %}