{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{{ mail_title }}
{% endblock %}

{% block content %}
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ subscription.user.display_fullname }},</p>
{% url 'donations:my-recurring-donations' as donations_url %}
<p style="{{ 'parag'|email_css }}">
    {% trans "Thanks very much for your recent support." %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% if subscription.cancel_reason == cancel_reason.BY_DONOR %}
    {% blocktrans with short_org_name='short_org_name'|site_settings %}Your recurring donation to {{ short_org_name }} has been cancelled at your request - no further payments will be processed.{% endblocktrans %}
    {% elif subscription.cancel_reason == cancel_reason.BY_ADMIN %}
    {% blocktrans with short_org_name='short_org_name'|site_settings %}Your recurring donation to {{ short_org_name }} has been cancelled by {{ short_org_name }} - no further payments will be processed.{% endblocktrans %}
    {% elif subscription.cancel_reason == cancel_reason.PAYMENTS_FAILED %}
    {% blocktrans with short_org_name='short_org_name'|site_settings %}Your recurring donation to {{ short_org_name }} has been cancelled due to repeated failed payments - no further payments will be processed.{% endblocktrans %}
    {% else %}
    {% blocktrans with short_org_name='short_org_name'|site_settings %}Your recurring donation to {{ short_org_name }} has been cancelled - no further payments will be processed.{% endblocktrans %}
    {% endif %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with site_url=''|site_rel_url org_contact_email='org_contact_email'|site_settings %}<a href="{{ site_url }}" target="_blank" rel="noopener noreferrer">Sign into our support page</a> if you wish to support us again in the future. Please email <a href="mailto:{{ org_contact_email }}">{{ org_contact_email }}</a> if you have any further enquiries.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans %}We are grateful to the minority of readers who help keep HKFP free to access for everyone. From all of us, <strong>thank you</strong> for helping keep independent media alive in Hong Kong!{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">{% trans "Details of your recurring donation:" %}</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans 'Donor name' %}</td>
        <td>{{ subscription.user.display_fullname }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring donation identifier" %}</td>
        <td>{{ subscription.profile_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment method" %}</td>
        <td>{{ subscription|display_gateway }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring donation amount" %}</td>
        <td>{{ subscription|recurring_amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans 'Recurring donation status' %}</td>
        <td>{{ subscription.recurring_status|title }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ 'short_org_name'|site_settings }}</p>
{% endblock %}