{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{{ mail_title }}
{% endblock %}

{% block content %}
<p style="{{ 'parag'|email_css }}">{% trans "Dear" %} {{ subscription.user.display_fullname }},</p>
{% url 'donations:my-recurring-donations' as donations_url %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donations_full_url=donations_url|site_rel_url %}Sign into our support page to <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">view your updated recurring donation</a>.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">{% trans "Details of your recurring donation:" %}</p>
<table cellpadding="8" style="margin-bottom: 30px;">
    <tr>
        <td style="font-weight: bold;">{% trans "Profile ID" %}</td>
        <td>{{ subscription.profile_id }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Payment method" %}</td>
        <td>{{ subscription|display_gateway }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Recurring Amount" %}</td>
        <td>{{ subscription|recurring_amount_with_currency }}</td>
    </tr>
    <tr>
        <td style="font-weight: bold;">{% trans "Status" %}</td>
        <td>{{ subscription.recurring_status|title }}</td>
    </tr>
</table>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ 'short_org_name'|site_settings }}</p>
{% endblock %}