{% extends "base_email.html" %}
{% load common_tags donation_tags i18n %}

{% block title %}
{{ mail_title }}
{% endblock %}

{% block content %}
<p style="{{ 'parag'|email_css }}">{% trans "Hi" %} {{ subscription.user.display_fullname }},</p>
{% url 'donations:my-recurring-donations' as donations_url %}
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donation_amount=subscription|recurring_amount_with_currency %}Your previously failed <strong>{{ donation_amount }} recurring payment on Stripe</strong> has become <strong>Active</strong> again.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with gateway=subscription.gateway %}{{gateway}} is once again able to charge the card registered in your recurring payment.{% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">
    {% blocktrans with donations_full_url=donations_url|site_rel_url %}If you wish to view and manage your recurring payments, please click <a href="{{donations_full_url}}" target="_blank" rel="noopener noreferrer">this link</a>. {% endblocktrans %}
</p>
<p style="{{ 'parag'|email_css }}">{% trans "Thank you," %}</p>

<p style="{{ 'parag'|email_css }}">{{ 'short_org_name'|site_settings }}</p>
{% endblock %}
