{# Form Errors #}
<div class="form-errors flex flex-col">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
        <p class="font-bold">Form Error - {{ field.label }}:</p>
        <p>{{ error|escape }}</p>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
        <p class="font-bold">Form Error:</p>
        <p>{{ error|escape }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>