{% load common_tags wagtailcore_tags %}

<div id="newstream-mainmenu" class="w-auto hidden lg:flex items-center ">
    {% for page in homepage.get_children.specific %}
    {% if page.show_in_menus %}
    <div class="menu-item-wrapper">
        <a href="{% pageurl page %}" class="menu-item">{{ page.title }}</a>
        {% if page.get_children.specific %}
        <div class="hidden submenu">
            {% include "common/main_sub_menu.html" with page=page %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>