.smpad-container {
    padding: 1rem 1rem !important;
}
.container {
    @apply mx-auto;
    padding: 4rem 1rem;
}
.container-wide {
    @apply mx-auto;
    padding: 4rem 1rem;
    width: 100%;

    @screen sm {
        max-width: 640px;
    }
    @screen md {
        max-width: 768px;
    }
    @screen lg {
        max-width: 1024px;
    }
    @screen xl {
        max-width: 1280px;
    }
    @media (min-width: 1440px) {
        max-width: 1440px;
    }
    @media (min-width: 1600px) {
        max-width: 1600px;
    }
}
.container-tight {
    @apply mx-auto;
    padding: 4rem 1rem;
    width: 100%;

    @screen sm {
        max-width: 640px;
    }
    @screen md {
        max-width: 768px;
    }
    @screen lg {
        max-width: 1024px;
    }
}

.container-row {
    margin-bottom: 4rem;

    &:last-child {
        margin-bottom: 0rem;
    }
}

.column-element {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0rem;
    }
}

.column-horz-align-center {
    @apply flex flex-col items-center text-center;
    .rich-text {
        @apply flex flex-col items-center text-center;
    }
}
.column-horz-align-start {
    @apply flex flex-col items-start;
    .rich-text {
        @apply flex flex-col items-start;
    }
}
.column-horz-align-end {
    @apply flex flex-col items-end text-right;
    .rich-text {
        @apply flex flex-col items-end text-right;
    }
}