@import 'core_variables';
@import 'core_fonts';
@import 'core_layouts';
@import 'core_elements';

.newstream-nav {
    display: flex;
    justify-content: center;

    h2 {
        display: inline-block;
    }
}