{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Advanced Settings' %}{% endblock %}

{% block body_class %}newstream-advanced-settings{% endblock %}

{% block content %}
<div class="container grid grid-cols-1 gap-4 lg:grid-cols-3">
    {% include 'profile_settings/sidebar.html' %}
    <div class="settings-div w-full flex flex-col lg:col-span-2">
        <h1 class="mb-5">{% trans 'Advanced Settings' %}</h1>
        <div class="mb-4">
            <div class="label-div">{% trans 'Account Removal' %}</div>
            <button class="ns-dark-btn inline-block" id="delete-account-btn" action-href="{% url 'delete-account' %}"
                {% if not deletable %}disabled{% endif %}>{% trans 'Delete My Account' %}</button>
        </div>
        <p class="text-red-500">
            {% if deletable %}
            {% trans 'Note that by deleting your account, your account will be removed from our database but your previous donation records will be anonymously kept.' %}
            {% else %}
            {% trans 'You need to cancel all your recurring donations before you are allowed to delete your account.' %}
            {% endif %}
        </p>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
{% if deletable %}
<script>
    window.addEventListener('load', function () {
        document.getElementById('delete-account-btn').addEventListener('click', function (e) {
            window.location.href = e.target.getAttribute('action-href');
        })
    });
</script>
{% endif %}
{% endblock %}