{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}Personal Info Settings{% endblock %}

{% block body_class %}newstream-personal-info{% endblock %}

{% block content %}
<div class="container grid grid-cols-1 gap-4 lg:grid-cols-3">
    {% include 'profile_settings/sidebar.html' %}
    <div class="settings-div w-full flex flex-col lg:col-span-2">
        <h1 class="mb-5">Personal Info</h1>
        {% include 'common/form_errors.html' %}
        <form method='POST'>
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {% if field.html_name in form.personal_info_fields %}
            {% if field|widget_type == 'checkboxinput' %}
            <div class="mb-4 widget_checkboxinput flex items-center">
                {{ field }} {{ field.label_tag }}
            </div>
            {% else %}
            <div class="mb-4">
                <div class="label-div">{{ field.label_tag }}</div>
                <div class="field-div widget_{{ field|widget_type }}">
                    {{ field }}
                    {% if field|widget_type == 'emailinput' %}
                    <div class="mt-3 flex">
                        <a class="ns-dark-btn" href="{% url 'account_email' %}">Manage Email Addresses</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% include "common/usermeta_fields.html" %}
            <button class="ns-wide-btn right-arrow-btn" type="submit">Submit<span class="icon"></span></button>
        </form>
    </div>
</div>
{% endblock content %}