{% extends "base.html" %}
{% load static %}

{% block title %}Security Settings{% endblock %}

{% block body_class %}newstream-security{% endblock %}

{% block content %}
<div class="container grid grid-cols-1 gap-4 lg:grid-cols-3">
    {% include 'profile_settings/sidebar.html' %}
    <div class="settings-div w-full flex flex-col lg:col-span-2">
        <h1 class="mb-5">Security</h1>
        <div class="mb-4">
            <div class="label-div">Password</div>
            <a class="ns-dark-btn inline-block" href="{% url 'change-password' %}">Change Password</a>
        </div>
    </div>
</div>
{% endblock content %}