{% load common_tags %}

<div class="lg:col-span-1">
    <div class="profile-sidebar flex flex-col rounded border border-gray-200 w-full mx-auto">
        <div class="p-4 w-full whitespace-no-wrap bg-gray-200">Profile Settings</div>
        <a href="{% url 'personal-info' %}"
            class="block p-4 w-full whitespace-no-wrap {{ request|is_active_page:'personal-info' }} {{ request|is_active_page:'accounts/email' }}">Personal
            Info</a>
        <a href="{% url 'security' %}"
            class="block p-4 w-full whitespace-no-wrap {{ request|is_active_page:'security' }} {{ request|is_active_page:'accounts/password' }}">Security</a>
        <a href="{% url 'advanced-settings' %}"
            class="block p-4 w-full whitespace-no-wrap {{ request|is_active_page:'advanced-settings' }}">Advanced
            Settings</a>
    </div>
</div>