{% extends "base.html" %}
{% load static common_tags widget_tweaks i18n %}

{% block title %}{% trans 'Complete Account Registration' %}{% endblock %}

{% block body_class %}newstream-account-registration-page{% endblock %}

{% block content %}
<div class="complete-registration-form-div container-tight">
    {% include 'common/form_errors.html' %}
    {# Form Area #}
    <form method='POST' action="{% url 'socialaccount_signup' %}" class="action-form">
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="flex flex-row justify-center mb-4">
            {% csrf_token %}
            <div class="personal-info-section w-full">
                <h2 class="mb-4">{% trans 'Personal info' %}</h2>
                <p class="my-6 font-bold">
                    {% with provider_name=account.get_provider.name %}{% blocktrans with sitename=''|site_name_filter %}You
                    are
                    about to use your
                    {{provider_name}}
                    account to login to {{ sitename }}. Please complete the following form to complete user
                    registration:{% endblocktrans %}{% endwith %}</p>
                {% include 'common/signup_form_content.html' %}
            </div>
        </div>
    </form>
</div>
{% endblock content %}