{% load common_tags i18n %}
{% extends "base.html" %}

{% block title %}{% blocktrans with sitename=request|site_name %}Logged out from
{{ sitename }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5">{% trans 'Goodbye!' %}</h1>
    {% with url 'login' as loginurl %}
    <p class="text-center">{% blocktrans %}Log back in <a href="{{ loginurl }}">Here</a>{% endblocktrans %}</p>
    {% endwith %}
</div>
{% endblock %}