{% extends "base.html" %}
{% load common_tags widget_tweaks socialaccount %}

{% block title %}Login to {{ request|site_name }}{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5">Login to {{ request|site_name }}</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="flex flex-col login-container items-stretch">
            {% if form.errors %}
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
                <p class="font-bold">Login Form Error:</p>
                <p>Your email and password do not match. Please try again.</p>
            </div>
            {% endif %}

            <div class="mb-4">
                <div class="label-div">{{ form.username.label_tag }}</div>
                <div class="field-div widget_{{ form.username|widget_type }}">
                    {{ form.username }}
                </div>
            </div>
            <div class="mb-4">
                <div class="label-div">{{ form.password.label_tag }}</div>
                <div class="field-div widget_{{ form.password|widget_type }}">
                    {{ form.password }}
                </div>
            </div>
            <button class="ns-wide-btn right-arrow-btn" type="submit">Login<span class="icon"></span></button>
            <a href="{% provider_login_url 'google' %}" class="ns-wide-btn">Google Login</a>
            <div class="login-form-footer flex flex-col items-center">
                <a href="{% url 'password_reset' %}" class="mb-2">Forgot
                    Password?</a>
                <span>Not yet a member? <a href="{% url 'donations:donate' %}">Donate and Join Now</a></span>
            </div>
        </div>
    </form>
</div>
{% endblock %}
