{% extends "base.html" %}
{% load static common_tags donation_tags i18n %}

{% block title %}{% trans 'My Recurring Donations' %}{% endblock %}
{% block body_class %}my-recurring-donations-page{% endblock %}

{% block content %}
<div class="w-full bg-primary-dark">
    <div class="container">
        <h1 class="mb-4 text-white">{% trans 'My recurring donations' %}</h1>
        <p class="text-primary-light lg:w-3/4">
            {% trans 'View and manage your recurring donations here. We thank you so much for your support. Every contribution, however big or small, is valuable for our future and our ability to deliver quality journalism that’s independent, not-for-profit, and free of charge.' %}
        </p>
    </div>
</div>
<div class="container">
    {% csrf_token %}
    {% include "donations/donation_view_switcher.html" %}
    <div class="lg:hidden flex flex-col">
        {% if subscriptions %}
        {% for subscription in subscriptions %}
        {% with first_instance=subscription.first_instance latest_instance=subscription.latest_instance %}
        <div class="donation-record p-4 rounded-lg {{latest_instance.recurring_status|status_bg_color}} mb-4">
            <table class="w-full">
                <tr>
                    <td class="subscription-title pb-4" colspan="2">#{{ latest_instance.profile_id }}</td>
                    <td width="50">
                        <div class="more-dropdown-div flex items-center dropdown-div-wrapper">
                            <input type="checkbox" name="md_dropdown-toggle-checkbox"
                                id="md_dropdown-toggle-checkbox{{forloop.counter}}" class="dropdown-toggle-checkbox">
                            <label for="md_dropdown-toggle-checkbox{{forloop.counter}}"
                                class="dropdown-toggle-label"></label>
                            <span class="three-dots-icon" data-id="{{ latest_instance.id }}"></span>
                            <div
                                class="more-dropdown-menu dropdown-menu-popup flex flex-col items-stretch recurring-donation-menu">
                                {% if request.user.is_email_verified %}
                                {% with support_editsub=latest_instance|is_gateway_editsub_supported support_togglesub=latest_instance|is_gateway_togglesub_supported support_cancelsub=latest_instance|is_gateway_cancelsub_supported %}
                                <div class="payment-recurring-options-div" data-id="{{ latest_instance.id }}">
                                    <button class="view-recurring-donation" data-id="{{ latest_instance.id }}"
                                        data-href="{% url 'donations:my-renewals' subscription.uuid %}">{% trans 'View all renewals' %}</button>
                                    <button class="edit-recurring-donation" data-id="{{ latest_instance.id }}"
                                        data-href="{% url 'donations:edit-recurring' latest_instance.id %}" {% if latest_instance.isRecurringCancelled or latest_instance.isRecurringProcessing or not support_editsub %}disabled{% endif %}>{% trans 'Edit Recurring donation' %}</button>
                                    {% if latest_instance.recurring_status == 'payment_failed' %}
                                        <button class="update-payment-method" data-id="{{ latest_instance.id }}"
                                            data-href="{% url 'donations:confirm-update-card-details' latest_instance.id %}">{% trans 'Update payment method' %}</button>
                                    {% else %}
                                        <button class="toggle-recurring-donation need-black-loading-btn adhoc-right-pad"
                                            data-id="{{ latest_instance.id }}" {% if latest_instance.isRecurringCancelled or latest_instance.isRecurringProcessing or not support_togglesub %}disabled{% endif %}>
                                            <span class="btn-text">{{ latest_instance|toggle_text }}</span>
                                            <span class="icon"></span>
                                        </button>
                                    {% endif %}
                                    <button class="cancel-recurring-donation need-black-loading-btn adhoc-right-pad"
                                        data-id="{{ latest_instance.id }}" {% if latest_instance.isRecurringCancelled or latest_instance.isRecurringProcessing or not support_cancelsub %}disabled{% endif %}>{% trans 'Cancel recurring donation' %}<span
                                            class="icon"></span></button>
                                </div>
                                {% endwith %}
                                {% else %}
                                <button class="actions-locked">{% trans 'Actions locked (Email unverified)' %}</button>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="subscription-title font-semibold" width="120">{{ latest_instance|recurring_amount_with_currency }}</td>
                    <td class="subscription-title font-semibold">{{ site_settings|get_attr:latest_instance.gateway.frontend_label_attr_name }}</td>
                    <td>&nbsp;</td>
                <tr>
                    <td class="subscription-subtitle pb-4">{{ latest_instance.recurring_frequency|capfirst }}</td>
                    <td class="subscription-subtitle pb-4">{{ first_instance.subscribe_date|date:'j M Y' }}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" class="recurring-status-td" data-id="{{ latest_instance.id }}">
                        <span class="{{ latest_instance.recurring_status|status_icon}}"></span>
                        <span class="status-text {{latest_instance.recurring_status|status_text_color}}">
                            {{ latest_instance.recurring_status|status_text }}
                        </span>
                        {% if latest_instance.recurring_status == 'payment_failed' %}
                            <button class="ns-wide-btn right-arrow-btn need-white-loading-btn bg-warning update-payment-method"
                                data-id="{{ latest_instance.id }}" data-href="{% url 'donations:confirm-update-card-details' latest_instance.id %}">
                                {% trans 'Update payment method' %}<span class="icon"></span>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endwith %}
        {% endfor %}
        {% endif %}
    </div>
    <table class="w-full my-donations-table hidden lg:block">
        <thead>
            <tr>
                <th>{% trans 'Recurring donation amount' %}</th>
                <th>{% trans 'Recurring Frequency' %}</th>
                <th>{% trans 'Identifier' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Payment Method' %}</th>
                <th>{% trans 'Status' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if subscriptions %}
            {% for subscription in subscriptions %}
            {% with first_instance=subscription.first_instance latest_instance=subscription.latest_instance %}
            <tr class="{{latest_instance.recurring_status|status_bg_color}}">
                <td>{{ latest_instance|recurring_amount_with_currency }}</td>
                <td>{{ latest_instance.recurring_frequency|capfirst }}</td>
                <td>{{ latest_instance.profile_id }}</td>
                <td>{{ first_instance.subscribe_date|date:'j M Y' }}</td>
                <td>{{ site_settings|get_attr:latest_instance.gateway.frontend_label_attr_name }}</td>
                <td class="recurring-status-td" data-id="{{ latest_instance.id }}">
                    <span class="{{ latest_instance.recurring_status|status_icon}}"></span>
                    <span class="status-text {{latest_instance.recurring_status|status_text_color}}">
                        {{ latest_instance.recurring_status|status_text }}
                    </span>
                </td>
                <td>
                    <div class="more-dropdown-div flex items-center dropdown-div-wrapper">
                        <input type="checkbox" name="md2_dropdown-toggle-checkbox"
                            id="md2_dropdown-toggle-checkbox{{forloop.counter}}" class="dropdown-toggle-checkbox">
                        <label for="md2_dropdown-toggle-checkbox{{forloop.counter}}"
                            class="dropdown-toggle-label"></label>
                        <span class="three-dots-icon" data-id="{{ latest_instance.id }}"></span>
                        <div
                            class="more-dropdown-menu dropdown-menu-popup flex flex-col items-stretch recurring-donation-menu-wide">
                            {% if request.user.is_email_verified %}
                            {% with support_editsub=latest_instance|is_gateway_editsub_supported support_togglesub=latest_instance|is_gateway_togglesub_supported support_cancelsub=latest_instance|is_gateway_cancelsub_supported %}
                            <div class="payment-recurring-options-div" data-id="{{ latest_instance.id }}">
                                <button class="view-recurring-donation view-recurring-donation-wide" data-id="{{ latest_instance.id }}"
                                    data-href="{% url 'donations:my-renewals' subscription.uuid %}">{% trans 'View all renewals' %}</button>
                                <button class="edit-recurring-donation edit-recurring-donation-wide" data-id="{{ latest_instance.id }}"
                                    data-href="{% url 'donations:edit-recurring' latest_instance.id %}" {% if latest_instance.isRecurringCancelled or latest_instance.isRecurringProcessing or not support_editsub %}disabled{% endif %}>{% trans 'Edit Recurring donation' %}</button>
                                {% if latest_instance.recurring_status == 'payment_failed' %}
                                    <button class="update-payment-method update-payment-method-wide" data-id="{{ latest_instance.id }}"
                                        data-href="{% url 'donations:confirm-update-card-details' latest_instance.id %}">{% trans 'Update payment method' %}</button>
                                {% else %}
                                    <button class="toggle-recurring-donation toggle-recurring-donation-wide need-black-loading-btn adhoc-right-pad"
                                    data-id="{{ latest_instance.id }}" {% if latest_instance.isRecurringCancelled or latest_instance.isRecurringProcessing or not support_togglesub %}disabled{% endif %}><span
                                        class="btn-text">{{ latest_instance|toggle_text }}</span><span
                                        class="icon"></span></button>
                                {% endif %}
                                <button class="cancel-recurring-donation cancel-recurring-donation-wide need-black-loading-btn adhoc-right-pad"
                                    data-id="{{ latest_instance.id }}" {% if latest_instance.isRecurringCancelled or latest_instance.isRecurringProcessing or not support_cancelsub %}disabled{% endif %}>{% trans 'Cancel recurring donation' %}<span
                                        class="icon"></span></button>
                            </div>
                            {% endwith %}
                            {% else %}
                            <button class="actions-locked">{% trans 'Actions locked (Email unverified)' %}</button>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">{% trans 'No Recurring Donation History.' %}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/confirm_box.js' %}"></script>
<script type="text/javascript" src="{% static 'js/alert_box.js' %}"></script>
<script>
    function threeDotsLoading(subscription_id) {
        for (let el of document.querySelectorAll(`span.three-dots-icon[data-id='${subscription_id}']`)) {
            el.classList.add('loading');
        }
    }
    function threeDotsNormal(subscription_id) {
        for (let el of document.querySelectorAll(`span.three-dots-icon[data-id='${subscription_id}']`)) {
            el.classList.remove('loading');
        }
    }
    function removeLoadingState(el) {
        // remove loading state
        el.classList.remove('black-loading-btn');
        el.style.paddingRight = '1rem';
        el.disabled = false;
    }
    // Example POST method implementation:
    async function postData(url, data = {}) {
        let request = new Request(
            url,
            {headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            }}
        );
        // Default options are marked with *
        const response = await fetch(request, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'same-origin', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            redirect: 'follow', // manual, *follow, error
            // referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    window.addEventListener('load', function () {
        for (let wrapper of document.getElementsByClassName("cancel-recurring-donation")) {
            wrapper.addEventListener("click", function (event) {
                let subscription_id = wrapper.getAttribute('data-id');
                threeDotsLoading(subscription_id);
                var cancelBox = new ConfirmBox( {
                    boxid: 'confirm-cancel-box',
                    header_text: "We're sorry to hear you want to cancel your monthly donation. Your donation is so important to us. Are you sure you want to cancel?",
                    ok: function() {
                        postData('{% url "donations:cancel-recurring" %}', { subscription_id: subscription_id, csrfmiddlewaretoken: getCookie('csrftoken') })
                        .then(data => {
                            removeLoadingState(wrapper);
                            threeDotsNormal(subscription_id);
                            if (data['status'] == 'success') {
                                nsAlert('Recurring donation cancelled!');
                                for (let buttonsDiv of document.querySelectorAll(`div.payment-recurring-options-div[data-id='${subscription_id}']`)) {
                                    if (buttonsDiv.querySelector('button.edit-recurring-donation')) {
                                        buttonsDiv.querySelector('button.edit-recurring-donation').disabled = true;
                                    }
                                    if (buttonsDiv.querySelector('button.toggle-recurring-donation')) {
                                        buttonsDiv.querySelector('button.toggle-recurring-donation').disabled = true;
                                    }
                                    if (buttonsDiv.querySelector('button.cancel-recurring-donation')) {
                                        buttonsDiv.querySelector('button.cancel-recurring-donation').disabled = true;
                                    }
                                }
                                for (let statusTd of document.querySelectorAll(`td.recurring-status-td[data-id='${subscription_id}'] > span.status-text`)) {
                                    statusTd.innerText = data['recurring-status'];
                                }
                            } else {
                                nsAlert(data['reason']);
                            }
                        });
                    },
                    cancel: function() {
                        removeLoadingState(wrapper);
                        threeDotsNormal(subscription_id);
                    }
                });
                cancelBox.show();
            });
        }
        for (let wrapper of document.getElementsByClassName("toggle-recurring-donation")) {
            wrapper.addEventListener("click", function (event) {
                let subscription_id = wrapper.getAttribute('data-id');
                threeDotsLoading(subscription_id);
                let innerText = wrapper.getElementsByClassName("btn-text")[0].innerText;
                var toggleBox = new ConfirmBox( {
                    boxid: 'confirm-toggle-box',
                    header_text: 'Confirm ' + innerText + '?',
                    ok: function() {
                        postData('{% url "donations:toggle-recurring" %}', { subscription_id: subscription_id, csrfmiddlewaretoken: getCookie('csrftoken') })
                        .then(data => {
                            removeLoadingState(wrapper);
                            threeDotsNormal(subscription_id);
                            if (data['status'] == 'success') {
                                nsAlert(data['success-message']);
                                for (let toggleBtn of document.querySelectorAll(`button.toggle-recurring-donation[data-id='${subscription_id}']`)) {
                                    toggleBtn.querySelector('.btn-text').innerText = data['button-text'];
                                }
                                for (let statusTd of document.querySelectorAll(`td.recurring-status-td[data-id='${subscription_id}'] > span.status-text`)) {
                                    statusTd.innerText = data['recurring-status'];
                                }
                            } else {
                                nsAlert(data['reason']);
                            }
                        });
                    },
                    cancel: function() {
                        removeLoadingState(wrapper);
                        threeDotsNormal(subscription_id);
                    }
                });
                toggleBox.show();
            });
        }
        for (let wrapper of document.getElementsByClassName("view-recurring-donation")) {
            wrapper.addEventListener("click", function (event) {
                let href = wrapper.getAttribute('data-href');
                window.location.href = href;
            })
        }
        for (let wrapper of document.getElementsByClassName("edit-recurring-donation")) {
            wrapper.addEventListener("click", function (event) {
                let href = wrapper.getAttribute('data-href');
                window.location.href = href;
            })
        }
        for (let wrapper of document.getElementsByClassName("update-payment-method")) {
            wrapper.addEventListener("click", function (event) {
                let href = wrapper.getAttribute('data-href');
                window.location.href = href
            })
        }
    });
</script>
{% endblock %}
