{% extends "base.html" %}
{% load common_tags %}

{% block title %}Email Verification Result{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    {% if request.user.is_email_verified %}
    <h1 class="mb-5">Email Verified.</h1>
    <p class="text-center">Your email {{ request.user.email }} has been verified. Your username is the same as your
        email.
    </p>
    {% else %}
    <h1 class="mb-5">Email verification failed.</h1>
    <p class="text-center">Your email verification link is invalid, please request a fresh verification link.</p>
    {% endif %}
</div>
{% endblock %}