{% extends 'base.html' %}
{% load common_tags widget_tweaks %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    {% if validlink %}
    <h1 class="mb-5">Create a new password</h1>
    <form method="post">
        {% csrf_token %}
        <div class="flex flex-col new-pwd-container items-stretch">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
                <p class="font-bold">Form Error - {{ field.label }}:</p>
                <p>{{ error|escape }}</p>
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}

            <div class="mb-4">
                <div class="label-div">{{ form.new_password1.label_tag }}</div>
                <div class="field-div widget_{{ form.new_password1|widget_type }}">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="mb-4">
                <div class="label-div">{{ form.new_password2.label_tag }}</div>
                <div class="field-div widget_{{ form.new_password2|widget_type }}">
                    {{ form.new_password2 }}
                </div>
            </div>
            <button class="ns-wide-btn right-arrow-btn" type="submit">Submit<span class="icon"></span></button>
        </div>
    </form>
    {% else %}
    <h1 class="mb-5">Password Reset Failed</h1>
    <p class="text-center mb-5">The password reset link was invalid, possibly because it has already been used. Please
        request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}