{% extends 'base.html' %}
{% load common_tags widget_tweaks %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container-tight flex flex-col items-center">
    <h1 class="mb-5">Need to reset your password?</h1>
    <form method="post">
        {% csrf_token %}
        <div class="flex flex-col reset-pwd-container items-stretch">
            <p class="text-center mb-5">Once you have filled out the following form, a reset password link will be sent
                to your
                registered email address.</p>
            {% if form.errors %}
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
                <p class="font-bold">Reset Password Form Error:</p>
                <p>The email you entered is invalid.</p>
            </div>
            {% endif %}

            <div class="mb-4">
                <div class="label-div">{{ form.email.label_tag }}</div>
                <div class="field-div widget_{{ form.email|widget_type }}">
                    {{ form.email }}
                </div>
            </div>
            <button class="ns-wide-btn right-arrow-btn" type="submit">Submit<span class="icon"></span></button>
        </div>
    </form>
</div>
{% endblock %}