{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}Send Sample Email{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ view.media.css }}
    <link rel="stylesheet" href="{% versioned_static 'wagtailmodeladmin/css/breadcrumbs_page.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

{% block header %}
    {% include "modeladmin/includes/header_with_breadcrumb.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon %}
{% endblock %}

<div>
    {% block content_main %}
    <div class="nice-padding">
        <div class="backlink-div">
            <p class="back backlink-p">
                <a href="{{ view.index_url }}" class="icon icon-arrow-left">{% blocktrans with view.verbose_name as model_name %}Back to {{ model_name }} list{% endblocktrans %}</a>
            </p>
        </div>

        <h1 style="margin-bottom: 40px;">{% trans 'Send Sample Email' %}</h1>
        <form method="POST" action="{{ form_target_url }}">
            {% csrf_token %}
            <input type="hidden" name="template_id" value="{{ template_id }}"/>
            <p><span>Email Template ID: </span><strong>{{ template_id }}</strong></p>
            <p><span>Email Subject: </span><strong>{{ template_subject }}</strong></p>
            <p>Send to this Recipient Email Address: </p>
            <input type="email" name="to_email" value="{{ request.user.email }}" style="margin-bottom: 16px;"/>
            <button type="submit" class="button button-primary">SEND</button>
        </form>
    </div>
    {% endblock %}
</div>
{% endblock %}
