<div class="container-tight w-full">
    <h2 class="mb-2">{{ value.form.title }}</h2>
    <form{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="{{ value.form_action }}" method="post" novalidate>
        {{ form.media }}
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% include 'common/form_visible_fields.html' %}
        <input class="ns-btn" type="submit" value="{{ value.form.submit_button_text }}" />
    </form>
</div>