<style>
    .tab-nav li.active a {
        background-color: #e6e6e6;
    }

    .tab-content section.active {
        background-color: #e6e6e6;
    }

    .tab-content .tab-nav a {
        background-color: #189370;
        border-color: #157b57;
        font-size: 1.1em;
        padding: .5em 30px;
    }

    .tab-content .tab-nav a:hover {
        border-color: #00585a;
    }

    .tab-content .tab-nav.merged {
        background-color: #e6e6e6;
    }

    .tab-content .tab-nav li.active a {
        background-color: white;
    }

    .tab-content section.active .tab-content section.active {
        background-color: white;
    }

    .top-tabbed-content .locale-picker {
        background-color: #e6e6e6;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1.5em;
        padding-bottom: 0.5em;
    }
</style>

<script>
    window.onload = () => {
        (($) => {
            $(document).on('click', '.tab-nav a', function (e) {
                e.preventDefault();
                var firstSubTab = $($(this).attr('href') + ' .tab-nav a').first();
                if (firstSubTab) {
                    setTimeout(() => firstSubTab.tab('show'), 10);
                    // firstSubTab.tab('show'); <- this sometimes does not work
                    window.history.replaceState(null, null, $(firstSubTab).attr('href'));
                }
            });
        })(window.jQuery)
    }
</script>

{% load wagtailadmin_tags %}
<ul class="tab-nav merged" role="tablist">
    {% for child in self.children %}
    <li class="{{ child.classes|join:" " }} {% if forloop.first %}active{% endif %}" role="tab"
        aria-controls="tab-{{ child.heading|cautious_slugify }}">
        <a href="#tab-{{ child.heading|cautious_slugify }}"
            class="{% if forloop.first %}active{% endif %}">{{ child.heading }}</a>
    </li>
    {% endfor %}
</ul>

<div class="tab-content top-tabbed-content">
    {% for child in self.children %}
    <section id="tab-{{ child.heading|cautious_slugify }}"
        class="{{ child.classes|join:" " }} {% if forloop.first %}active{% endif %}" role="tabpanel"
        aria-labelledby="tab-label-{{ child.heading|cautious_slugify }}">
        {{ child.render_as_object }}
    </section>
    {% endfor %}
</div>