{% load common_tags i18n %}

{% if messages %}
<div class="z-50 pt-4 pr-4 hidden sm:block" id="messages-wrapper">
    <div class="messages flex flex-col items-end bg-transparent">
        {% for message in messages %}
        <div class="message max-width-500 p-4 {% if message.tags %}{{ message.tags|alert_class }}{% endif %} {{ message.extra_tags }}">
            <p class="font-bold lg:text-center m-0">{{ message }}</p>
            {% if "cta-manage-donations" in message.extra_tags %}
            <button class="ns-wide-btn right-arrow-btn bg-danger" type="button" id="cta-manage-donations" onclick="location.href='{% url "donations:my-recurring-donations" %}'">
                {% trans 'Manage recurring donations' %}<span class="icon"></span>
            </button>
            {% elif "cta-new-donation" in message.extra_tags %}
            <button class="ns-wide-btn right-arrow-btn bg-danger" type="button" id="cta-new-donation" onclick="location.href='{% url "donations:donate" %}'">
                {% trans 'Make new donation' %}<span class="icon"></span>
            </button>
            {% elif "cta-update-card" in message.extra_tags %}
            <button class="ns-wide-btn right-arrow-btn bg-warning" type="button" id="cta-update-card" onclick="location.href='{% url "donations:confirm-update-card-details" request.session.sub_instance_id %}'">
                {% trans 'Update payment method' %}<span class="icon"></span>
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}