/* scss items for major components on the web page */

/* Top Navigation Bar */
//When sidenav is open:
//a. Create a transparent overlay over the content 
.sidenav-active .cover {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    transition: background-color .3s, transform 0.3s;
}
//b. Nudge everything to the side
#newstream-mobile-mainmenu {
    transition: transform 0.3s;
    box-shadow: 0 2px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    position: fixed;
    height: 100vh;
    width: $sidenav-width;
    right: -$sidenav-width;
    z-index: 200;

    .sidenav-active & {
        transform: translateX(-100%);
    }
    .user-area-links {
        padding-left: 40px;
    }
    .menu-item-wrapper {
        @apply py-4 px-6;
        position: relative;
        
        .menu-item {
            @apply text-black;
            font-family: 'Barlow';
            text-transform: uppercase;
            font-weight: 600;

            .dropdown-chevron-icon::after {
                background-color: black;
            }
        }
        .user-link {
            color: $primary-color !important;
            font-family: 'Barlow';
            text-transform: uppercase;
        }
    }
    a.nav-donate-btn {
        @apply bg-primary text-white;
        padding: 0.5rem 2.5rem;
    }
}
//c. Prevent body scroll
.noscroll {
  position: relative; //for ios
  overflow: hidden;
}
#nav-toggle{
    position: relative;
    padding-right: 30px;
    height: 30px;
    top: -2px;
    span { 
        transition: all 0.25s ease-in-out 0s;
        cursor: pointer;
        border-radius: 1px;
        height: 4px;
        width: 28px;
        @apply bg-primary;
        position: absolute;
        display: block;
        content: '';
        left: 0px;

        &:nth-child(1) {
            transform-origin: left center;
            top: 8px;
        }
        &:nth-child(2) {
            top: 16px;
        }
        &:nth-child(3) {
            transform-origin: left center;
            top: 24px;
        }
    }
}
#close-nav-toggle{
    position: relative;
    padding-right: 30px;
    height: 30px;
    top: -2px;
    span { 
        transition: all 0.25s ease-in-out 0s;
        cursor: pointer;
        border-radius: 1px;
        height: 4px;
        width: 28px;
        @apply bg-primary;
        position: absolute;
        display: block;
        content: '';
        left: 0px;

        &:nth-child(1) {
            transform-origin: left center;
            left: 2px;
            top: 6px;
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            transform-origin: left center;
            left: 2px;
            top: 26px;
            transform: rotate(-45deg);
        }
    }
}
#newstream-topnav {
    border-bottom: $border-grey-color 2px solid;
    a {
        font-family: 'Fira Sans';
        @apply text-black;
        &.brand-logo-link {
            display: inline-block;
            position: absolute;
            left: 2rem;
            transform: translateX(0);

            @screen lg {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &.menu-item {
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
            display: inline-block;
        }
        &.nav-donate-btn {
            @apply bg-primary text-white;
            padding: 0.5rem 2.5rem;
        }
    }
    #newstream-mainmenu {
        .menu-item {
            margin-right: 1rem;
            white-space: nowrap;
        }
        .menu-item-wrapper {
            position: relative;
            
            &:hover {
                > .submenu {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .submenu {
                z-index: 55;
                background-color: white;
                box-shadow: 0 2px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
                position: absolute;
                @apply pt-6 pb-2 flex flex-col;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out 0s;

                .menu-item-wrapper {
                    margin-right: 0;
                    margin-bottom: 1rem;

                    .menu-item {
                        @apply px-6;
                    }
                }

                &:hover {
                    opacity: 1;
                    visibility: visible;
                }

                .submenu {
                    top: 0;
                    left: 100%;
                }
            }
        }
        > .menu-item-wrapper > .menu-item {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: $primary-color;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.2s ease-in-out 0s;
            }

            &:hover::before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}

span.avatar-icon {
    position: relative;
    padding: 0rem 1rem;
    width: 1rem;
    height: 2rem;
    display: inline-block;

    &:after {
        content: '';
        position: absolute;
        mask: url('../svg/fat-user.svg');
        mask-size: cover;
        @apply bg-primary;
        width: 2rem;
        height: 2rem;
        transform: translateX(-50%);
    }
}
span.user-fullname {
    font-weight: 600;
}
span.dropdown-chevron-icon {
    position: relative;
    padding: 0rem 1rem;
    width: 1rem;
    height: 2rem;
    display: inline-block;

    &:after {
        content: '';
        position: absolute;
        mask: url('../svg/black-down-chevron.svg');
        mask-size: cover;
        @apply bg-primary;
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%) translateY(50%);
    }
}
span.multilang-icon {
    position: relative;
    padding: 0rem 1rem;
    width: 1rem;
    height: 2rem;
    display: inline-block;

    &:after {
        content: '';
        position: absolute;
        mask: url('../svg/multilang.svg');
        mask-size: cover;
        @apply bg-primary;
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%) translateY(50%);
    }
}

/* Signin method */
.email-signin-div,
.social-signin-div {
    max-width: 500px;
    min-width: 300px;
}

/* Donation Header */
.donation-header {
    border-bottom: $border-grey-color 2px solid;
    .step-label-div {
        @apply bg-primary-dark;
    }
}

/* Donation Sections */
.donation-details-section {
    max-width: 500px;
    padding: 1rem 3rem;
}
.personal-info-section {
    max-width: 500px;
    padding: 1rem 3rem;
}
.other-fields-section {
    max-width: 31.25rem;
}

/* Redirection Page */
.redirect-loading-div,
.error-div {
    min-height: 20rem;
    @screen lg {
        min-height: 30rem;
    }
}

/* Thankyou Table */
.thankyou-table {
    tr td  {
        padding: 1rem;
        &:nth-child(1) {
            text-align: right;
        }
        &:nth-child(2) {
            text-align: left;
        }
    }
}

/* Login Container */
.login-container, .reset-pwd-container, .new-pwd-container {
    max-width: 31.25rem;
    @screen lg {
        min-width: 31.25rem;
    }
}

/* General dropdown menu popup */
.dropdown-div-wrapper {
    position: relative;
    
    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        
        &:checked + label ~ .dropdown-menu-popup {
            display: block;
        }
    }
    label {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 5;
    }
    .dropdown-menu-popup {
        z-index: 100;
        box-shadow: 0 2px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
        background-color: white;
        padding: 1rem 0rem;
        display: none;
        position: absolute;
        top: 2.5rem;
        right: 0rem;
        a,
        button {
            display: block;
            padding: 0.5rem 1rem;
            width: 100%;
            white-space: nowrap;
            &:hover {
                @apply bg-gray-200;
            }
        }
    }
}

/* Multilang dropdown menu */
.multilang-dropdown-div {
    .multilang-dropdown-menu {
        a {
            color: black;
            white-space: nowrap;
        }
    }
}

/* User dropdown menu */
.nav-user-dropdown-div {
    text-transform: initial;

    .user-dropdown-menu {
        min-width: 13rem;
    }
}

/* My Donations Table */
.my-donations-table {
    border-spacing: 0 1em;
    border-collapse: separate;

    thead th {
        text-transform: uppercase;
        @apply text-teal-500;
        font-weight: 600;
        padding: 1rem;
        text-align: left;
    }
    tbody {
        td {
            padding: 1.5rem 1rem;
            margin-bottom: 1rem;
            border: 0;
            @apply bg-primary-light;
            
            &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }
            &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
    }
}

/* Profile Sidebar */
.profile-sidebar {
    max-width: 20rem;
    a {
        &:not(:last-child) {
            @apply border-gray-200 border-b;
        }
    }
    a.active-page {
        border-left: $primary-color 3px solid;
        color: black;
        font-weight: 600;
    }
}

/* Footer */
.newstream-footer {
    @apply flex flex-col;
    padding: 2rem;
    border-top: $border-grey-color 2px solid;
    .brand-logo-link {
        margin-bottom: 2rem;
    }
    .site-links {
        color: black;
    }
}