a {
    @apply text-primary;
}
.btm-grey-border {
    border-bottom: $border-grey-color 2px solid;
}
.ns-btn {
    @apply bg-primary;
    font-family: 'Fira Sans';
    font-weight: 600;
    padding: 0.75rem 2.5rem;
    color: white;
}
.ns-dark-btn {
    @extend .ns-btn;
    @apply bg-primary-dark;
}
.ns-wide-btn {
    @apply bg-primary;
    text-align: left;
    width: 100%;
    font-family: 'Fira Sans';
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    margin: 1rem 0rem;
    color: white;
}
.ns-wide-dark-btn {
    @extend .ns-wide-btn;
    @apply bg-primary-dark;
}
.svg-icon-btn {
    position: relative;
    span.icon {
        width: 20px;
        height: 20px;
        background-image: url("../svg/white-arrow-forward.svg");
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 1.25rem;
        top: 1.5rem;
        transform: translateY(-50%);
    }
}
.left-svg-icon-btn {
    @extend .svg-icon-btn;
    padding-left: 4rem !important;
    span.icon {
        background-image: url("../svg/left-chevron.svg");
        left: 1.25rem;
        right: initial;
    }
}
.left-chevron-btn {
    @extend .left-svg-icon-btn;
}
.right-arrow-btn {
    @extend .svg-icon-btn;
    span.icon {
        background-image: url("../svg/white-arrow-forward.svg");
    }
}
.white-loading-btn {
    @extend .svg-icon-btn;
    span.icon {
        background-image: url("../img/white-loading-spinner.gif") !important;
    }
}
.black-loading-btn {
    @extend .svg-icon-btn;
    span.icon {
        background-image: url("../img/black-loading-spinner.gif") !important;
    }
}

.right-facebook-btn {
    @extend .svg-icon-btn;
    span.icon {
        background-image: url("../svg/facebook-white.svg");
    }
}

.right-twitter-btn {
    @extend .svg-icon-btn;
    span.icon {
        background-image: url("../svg/twitter-white.svg");
    }
}

.right-google-btn {
    @extend .svg-icon-btn;
    span.icon {
        background-image: url("../svg/google-white.svg");
    }
}

.ns-page-breaker {
    background-color: $border-grey-color;
    height: 2px;
}

/* Messages */
.messages {
    transition: opacity 1s;
    & > div:not(:last-child) {
        margin-bottom: 1rem;
    }
}

/* heading + anchor link styles */
.ns-headings {
    position: relative;
}
.ns-anchor-links {
    position: absolute;
    top: -80px;

    @screen lg {
        top: -122px;
    }
}

/* Accordion styles */
input.ns-accordion-cb {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.ns-accordion {
    border-radius: 0.5rem;
    overflow: hidden;
    border-color: $border-grey-color;
    border-width: 2px;
    width: 100%;
}
.ns-accordion-item {
    width: 100%;
    border-top: $border-grey-color 1px solid;
    overflow: hidden;
    &:first-child {
        border-top: none;
    }
    .rich-text {
        text-align: left;
    }
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 4rem;
        font-weight: 600;
        cursor: pointer;
        /* Icon */
        // &:hover {
        //     background: $border-grey-color;
        // }
        &:after {
            content: "\276F";
            @apply text-primary;
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
        }
    }
    &-content {
        max-height: 0;
        display: none;
        padding: 1rem 4rem;
        color: black;
        transition: all .35s;
    }
    &-footer {
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 0.8rem;
    }
}
// :checked
input.ns-accordion-cb:checked {
  + .ns-accordion-item-label {
    // background: $border-grey-color;
    &:after {
      transform: rotate(90deg);
    }
  }
  ~ .ns-accordion-item-content {
    max-height: 100vh;
    display: block;
  }
}

/* Form Styles */
.label-div {
    font-size: 0.85rem;
    margin-bottom: 0.7rem;
}
.input_disabled {
    @apply bg-gray-200;
}
.widget_textinput, .widget_numberinput, .widget_urlinput, .widget_dateinput, .widget_datetimeinput, .widget_emailinput, .widget_passwordinput {
    input {
        border: $border-grey-color 1px solid;
        width: 100%;
        height: 3.2rem;
        border-radius: 0.25rem;
        padding: 0.75rem;
    }
}
.widget_select {
    position: relative;
    width: 100%;
    select {
        background-color: white;
        padding: 0.75rem;
        width: 100%;
        height: 3.2rem;
        border: $border-grey-color 1px solid;
        border-radius: 0.25rem;
        box-shadow: none;
        -webkit-appearance: none;
    }
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    &:after {
        content: "\25BE";
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        transform: translateY(-50%);
    }
}
.widget_selectmultiple {
    position: relative;
    width: 100%;
    select {
        background-color: white;
        padding: 0.75rem;
        width: 100%;
        height: 4rem;
        border: $border-grey-color 1px solid;
        border-radius: 0.25rem;
        box-shadow: none;
        -webkit-appearance: none;
        overflow-y: scroll;

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }
}
.widget_checkboxinput {
    input {
        position: absolute;
        opacity: 0;

        & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
            font-weight: 600;
        }

        & + label:after {
            content: '';
            mask: url('../svg/black-tick.svg');
            mask-size: cover;
            @apply bg-primary;
            position: absolute;
            left: 0.28rem;
            top: 0.28rem;
            width: 1rem;
            height: 1rem;
            opacity: 0;
        }

        // Box.
        & + label:before {
            content: '';
            margin-right: 1.5rem;
            display: inline-block;
            vertical-align: top;
            width: 1.5rem;
            height: 1.5rem;
            border: $primary-color 1px solid;
            border-radius: 0.25rem;
        }

        &:disabled + label:before {
            @apply bg-gray-200;
        }

        // Box focus
        &:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Checkmark. Could be replaced with an image
        &:checked + label:after {
            opacity: 1;
        }
    }
}
.widget_radioselect {
    ul {
        li {
            label {
                display: flex;
                align-items: center;
                margin-bottom: 0.25rem;
                font-weight: 600;

                input[type='radio'] {
                    -webkit-appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    outline: none;
                    border: 1px solid $primary-color;
                    margin-right: 1rem;
                    position: relative;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        top: 2px;
                        left: 2px;
                        border-radius: 50%;
                    }

                    &:checked:before {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}
.widget_textarea {
    textarea {
        border: $border-grey-color 1px solid;
        width: 100%;
        height: 5.5rem;
        border-radius: .25rem;
        padding: .75rem;
    }
}

.member-account-notice {
    font-size: 0.85rem;
}
.form-footer-text, .secondary-text {
    @apply text-gray-600;
    font-size: 0.75rem;
}

span.yes-icon {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: -0.5rem;
        left: 0rem;
        mask: url('../svg/black-tick.svg');
        mask-size: cover;
        @apply bg-primary;
        width: 1rem;
        height: 1rem;
    }
}
span.no-icon {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: -0.38rem;
        left: 0rem;
        mask: url('../svg/black-cross.svg');
        mask-size: cover;
        @apply bg-primary;
        width: 0.85rem;
        height: 0.85rem;
    }
}
/* More icon and dropdown */
.more-dropdown-div {
    span.three-dots-icon {
        position: relative;
        padding: 0rem 1.5rem;
        width: 2rem;
        height: 2rem;
        display: inline-block;

        &:after {
            content: '';
            position: absolute;
            mask: url('../svg/three-dots.svg');
            mask-size: cover;
            @apply bg-primary-dark;
            width: 2rem;
            height: 2rem;
            transform: translateX(-50%);
        }

        &.loading:after {
            mask: unset;
            background-color: transparent;
            background-image: url("../img/black-loading-spinner.gif");
            background-size: contain;
        }
    }
    .more-dropdown-menu {
        min-width: 8rem;
        a {
            white-space: nowrap;
            &.actions-locked {
                color: black;
            }
        }
    }
}

/* Used by the Responsive Video Block */
.responsive-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}
.responsive-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* donation_view_switcher.html */
.switcher-wrapper {
    font-size: 12px;
    margin-bottom: 2rem;

    @screen sm {
        font-size: initial;
    }
    @screen lg {
        margin-bottom: 1rem;
    }
}
.switcher-link {
    border-radius: 5px;
    border-color: $primary-color;
    padding: 1rem;

    &.active-page {
        background-color: $primary-color;
        color: white;
    }
}
.onetime-donations-link {
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0px 0px 5px;
}
.recurring-donations-link {
    border-width: 1px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -3px;
}

/* Confirm Box */
.confirm-wrappers {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba( 204, 204, 204, 0.6 );
	display: none;
	transition: opacity 0.3s ease-in;

    #confirm-box {
        width: 300px;
        background: #fff;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
        padding: 1.5rem;

        @screen lg {
            margin: -100px 0 0 -250px;
            width: 500px;
        }
    }

    #confirm-buttons {
        position: relative;
        width: 100%;
        text-align: center;

        button {
            display: inline-block;
            background: transparent;
            font-size: 1em;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;
            border: 2px solid $primary-color;
            margin: 0 0.5em;
            padding: 0.6em 0;
            width: 100px;
        }

        #confirm-ok {
            color: $primary-color;
        }

        #confirm-cancel {
            background-color: $primary-color;
            color: white;
        }
    }

    #confirm-header {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
}
