@font-face {
    font-family: 'Fira Sans';
    src: url("ttf/FiraSans-Regular.ttf");
}
@font-face {
    font-family: 'Fira Sans';
    src: url("ttf/FiraSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: url("ttf/FiraSans-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: 'Fira Sans';
    src: url("ttf/FiraSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Fira Sans';
    src: url("ttf/FiraSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url("ttf/Barlow-Regular.ttf");
}
@font-face {
    font-family: 'Barlow';
    src: url("ttf/Barlow-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: 'Barlow';
    src: url("ttf/Barlow-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: 'Barlow';
    src: url("ttf/Barlow-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Barlow';
    src: url("ttf/Barlow-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.17rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

p {
    margin-bottom: 0.5rem;
}

ul {
    list-style: disc;
    padding-inline-start: 40px;
}